### Exercícios da Aula 05
---
 
Author : Halisson S. Gomides - halisson.gomides@gmail.com

Date : 09/02/2021

---

### Conjunto de dados House Sales in King County, USA
>https://www.kaggle.com/harlfoxem/housesalesprediction


### Respondendo perguntas do CEO:

In [7]:
import pandas as pd
from numpy import nan
%config Completer.use_jedi = False

In [2]:
# Abrindo o arquivo já com os dados que foram coletados da API Geopy
# 
# Isso foi feito, pois ao fechar o notebook antes de concluir todos o exercícios, e depois abrir novamente
# para dar continuidade aos exercícios, não é necessário coletar novamente os dados da API, pois é muito demorado
# 

df_houses = pd.read_csv('dados/processados/kc_house_data_comp.csv', parse_dates=['date'], 
                       infer_datetime_format=True, dtype={'condition': str })

In [3]:
df_houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21436 entries, 0 to 21435
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21436 non-null  int64
 1   date           21436 non-null  datetime64[ns]
 2   price          21436 non-null  float64
 3   bedrooms       21436 non-null  int64
 4   bathrooms      21436 non-null  float64
 5   sqft_living    21436 non-null  int64
 6   sqft_lot       21436 non-null  int64
 7   floors         21436 non-null  float64
 8   waterfront     21436 non-null  int64
 9   view           21436 non-null  int64
 10  condition      21436 non-null  object
 11  grade          21436 non-null  int64
 12  sqft_above     21436 non-null  int64
 13  sqft_basement  21436 non-null  int64
 14  yr_built       21436 non-null  int64
 15  yr_renovated   21436 non-null  int64
 16  zipcode        21436 non-null  int64
 17  lat            21436 non-null  float64
 18  long           21436 non-null  float64
 19  sqft_living15  21436 non-null  int64
 20  sqft_lot15     21436 non-null  int64
 21  nivel          21436 non-null  object
 22  road           21215 non-null  object
 23  house_number   20252 non-null  object
 24  neighbourhood  7100 non-null   object
 25  city           8970 non-null   object
 26  state          21436 non-null  object
 27  is_waterfront  21436 non-null  object
 28  size_room      21436 non-null  object
 29  place_id       21436 non-null  float64
 30  osm_type       21436 non-null  object
 31  country        21436 non-null  object
 32  country_code   21436 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(14), object(12)
memory usage: 5.4+ MB

In [25]:
# Dimensões do dataframe
def show_dimensions(df):
    print( f'Numero de linhas: {df_houses.shape[0]}', end='\n\n' )
    print( f'Numero de colunas: {df_houses.shape[1]}', end='\n\n' )
    return None

In [8]:
# Crie uma nova coluna chamada: "dormitory_type"
# se o valor da coluna "bedrooms" for igual a 1 => 'studio'
# se o valor da coluna "bedrooms" for igual a 2 => 'apartment'
# se o valor da coluna "bedrooms" for maior que 2 => 'house'

df_houses['dormitory_type'] = df_houses['bedrooms'].apply(lambda tamanho:
                                                         'studio' if tamanho == 1 else(
                                                         'apartment' if tamanho == 2 else(
                                                         'house' if tamanho > 2 else nan)))

In [11]:
df_houses['dormitory_type'].sample(5)

13587        house
8514         house
5794     apartment
6677         house
10221        house
Name: dormitory_type, dtype: object

In [12]:
from geopy.geocoders import Nominatim

# Inicializando API
geolocator = Nominatim( user_agent = 'geopiExercises' )

In [17]:
response = geolocator.reverse('47.511, -122.257')

In [ ]:
response.raw

In [19]:
import plotly.express as px

In [ ]:
# mapa
houses_map = df_houses[['id', 'lat', 'long', 'price', 'nivel']].copy()

fig = px.scatter_mapbox( houses_map, lat='lat', lon='long',
                 color='nivel',
                 size='price',
                 color_continuous_scale = px.colors.diverging.Fall,
                 size_max = 15,
                 zoom=10)
fig.update_layout(mapbox_style='open-street-map')
fig.update_layout(height=600, margin={'r': 0, 'l': 0, 'b': 0, 't': 0})
fig.show()