### Exercícios da Aula 04
---
 
Author : Halisson S. Gomides - halisson.gomides@gmail.com

Date : 29/01/2021

---

### Conjunto de dados House Sales in King County, USA
>https://www.kaggle.com/harlfoxem/housesalesprediction


### Respondendo perguntas do CEO:

1. Adicione as seguintes informações ao imóvel:
        - O nome da Rua
        - O número do imóvel
        - O nome do Bairro
        - O nome da Cidade
        - O nome do Estado
        
2. Onde tem essas informações: API chamada GEOPY
3. Fazer o link com 'zipcode' e 'lat' e 'long'

In [1]:
import pandas as pd

In [2]:
dfhouses = pd.read_csv('dados/originais/kc_house_data.csv.zip', 
                       parse_dates=['date'], 
                       infer_datetime_format=True,
                      dtype={'condition': str })

In [3]:
dfhouses.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
dfhouses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  datetime64[ns]
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  object
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(14), object(1)
memory usage: 3.5+ MB

In [5]:
# Verificando se existem indices duplicados

for k,v in dfhouses['id'].value_counts().to_dict().items():
    if v > 1: 
        print(k, v)
        print(dfhouses.loc[dfhouses['id'] == k])

795000620 3
              id       date     price  bedrooms  bathrooms  sqft_living  \
17602  795000620 2014-09-24  115000.0         3        1.0         1080
17603  795000620 2014-12-15  124000.0         3        1.0         1080
17604  795000620 2015-03-11  157000.0         3        1.0         1080

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17602      6250     1.0           0     0  ...     5        1080
17603      6250     1.0           0     0  ...     5        1080
17604      6250     1.0           0     0  ...     5        1080

       sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
17602              0      1950             0    98168  47.5045 -122.33
17603              0      1950             0    98168  47.5045 -122.33
17604              0      1950             0    98168  47.5045 -122.33

       sqft_living15  sqft_lot15
17602           1070        6250
17603           1070        6250
17604           1070        6250

[3 rows x 21 columns]
3523069060 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
14484  3523069060 2014-11-07  290000.0         3       1.75         1340
14485  3523069060 2015-04-01  415000.0         3       1.75         1340

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14484     63597     1.0           0     0  ...     7        1340
14485     63597     1.0           0     0  ...     7        1340

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14484              0      1963             0    98038  47.4379 -122.011
14485              0      1963             0    98038  47.4379 -122.011

       sqft_living15  sqft_lot15
14484           1950       87120
14485           1950       87120

[2 rows x 21 columns]
7129304540 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15810  7129304540 2014-12-20  133000.0         5        2.0         1430
15811  7129304540 2015-05-14  440000.0         5        2.0         1430

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15810      5600     1.5           0     0  ...     6        1430
15811      5600     1.5           0     0  ...     6        1430

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15810              0      1947             0    98118  47.5192 -122.266
15811              0      1947             0    98118  47.5192 -122.266

       sqft_living15  sqft_lot15
15810           1860        5980
15811           1860        5980

[2 rows x 21 columns]
2619920170 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15277  2619920170 2014-10-01  772500.0         4        2.5         3230
15278  2619920170 2014-12-19  765000.0         4        2.5         3230

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15277      4290     2.0           0     0  ...     9        3230
15278      4290     2.0           0     0  ...     9        3230

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15277              0      2004             0    98033  47.6874 -122.161
15278              0      2004             0    98033  47.6874 -122.161

       sqft_living15  sqft_lot15
15277           3220        5083
15278           3220        5083

[2 rows x 21 columns]
6021501535 2
            id       date     price  bedrooms  bathrooms  sqft_living  \
93  6021501535 2014-07-25  430000.0         3        1.5         1580
94  6021501535 2014-12-23  700000.0         3        1.5         1580

    sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
93      5000     1.0           0     0  ...     8        1290            290
94      5000     1.0           0     0  ...     8        1290            290

    yr_built  yr_renovated  zipcode     lat     long  sqft_living15  \
93      1939             0    98117  47.687 -122.386           1570
94      1939             0    98117  47.687 -122.386           1570

    sqft_lot15
93        4500
94        4500

[2 rows x 21 columns]
7899800045 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12377  7899800045 2014-08-28  107000.0         3        1.5          910
12378  7899800045 2014-12-02  232900.0         3        1.5          910

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12377      5120     1.0           0     0  ...     6         910
12378      5120     1.0           0     0  ...     6         910

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12377              0      1973             0    98106  47.5238 -122.356
12378              0      1973             0    98106  47.5238 -122.356

       sqft_living15  sqft_lot15
12377           1410        5132
12378           1410        5132

[2 rows x 21 columns]
6623400187 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10319  6623400187 2014-09-23  185000.0         4        1.0         1760
10320  6623400187 2015-02-20  365000.0         4        1.0         1760

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10319      8906     1.0           0     0  ...     7        1230
10320      8906     1.0           0     0  ...     7        1230

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10319            530      1966             0    98055  47.4288 -122.198
10320            530      1966             0    98055  47.4288 -122.198

       sqft_living15  sqft_lot15
10319           1180       10407
10320           1180       10407

[2 rows x 21 columns]
7856400300 2
               id       date      price  bedrooms  bathrooms  sqft_living  \
18991  7856400300 2014-07-02  1411600.0         2        2.5         3180
18992  7856400300 2015-03-22  1505000.0         2        2.5         3180

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
18991      9400     2.0           0     4  ...    10        2610
18992      9400     2.0           0     4  ...    10        2610

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
18991            570      1985             0    98006  47.5617 -122.158
18992            570      1985             0    98006  47.5617 -122.158

       sqft_living15  sqft_lot15
18991           3760        9450
18992           3760        9450

[2 rows x 21 columns]
2228900270 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1450  2228900270 2014-08-12  215000.0         2        1.0         1010
1451  2228900270 2015-02-12  302000.0         2        1.0         1010

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1450      6000     1.0           0     0  ...     6        1010
1451      6000     1.0           0     0  ...     6        1010

      sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
1450              0      1944             0    98133  47.771 -122.353
1451              0      1944             0    98133  47.771 -122.353

      sqft_living15  sqft_lot15
1450           1610        7313
1451           1610        7313

[2 rows x 21 columns]
7520000520 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
324  7520000520 2014-09-05  232000.0         2        1.0         1240
325  7520000520 2015-03-11  240500.0         2        1.0         1240

     sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
324     12092     1.0           0     0  ...     6         960            280
325     12092     1.0           0     0  ...     6         960            280

     yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
324      1922          1984    98146  47.4957 -122.352           1820
325      1922          1984    98146  47.4957 -122.352           1820

     sqft_lot15
324        7460
325        7460

[2 rows x 21 columns]
2044500213 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15801  2044500213 2014-06-17  310000.0         4        2.0         1870
15802  2044500213 2015-01-26  449000.0         4        2.0         1870

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15801      6000     1.5           0     0  ...     7        1870
15802      6000     1.5           0     0  ...     7        1870

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15801              0      1956             0    98125  47.7155 -122.315
15802              0      1956             0    98125  47.7155 -122.315

       sqft_living15  sqft_lot15
15801           1520        7169
15802           1520        7169

[2 rows x 21 columns]
3271300955 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10969  3271300955 2014-07-03  554729.0         4        2.5         2020
10970  3271300955 2015-02-24  868000.0         4        2.5         2020

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10969      4350     2.0           0     0  ...     9        1730
10970      4350     2.0           0     0  ...     9        1730

       sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
10969            290      1943             0    98199  47.6503 -122.41
10970            290      1943             0    98199  47.6503 -122.41

       sqft_living15  sqft_lot15
10969           1620        5800
10970           1620        5800

[2 rows x 21 columns]
7856400240 2

              id       date      price  bedrooms  bathrooms  sqft_living  \
2564  7856400240 2014-06-27  1620000.0         4        3.0         3900
2565  7856400240 2015-02-11  1650000.0         4        3.0         3900

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2564      9750     1.0           0     4  ...    10        2520
2565      9750     1.0           0     4  ...    10        2520

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2564           1380      1972             0    98006  47.5605 -122.158
2565           1380      1972             0    98006  47.5605 -122.158

      sqft_living15  sqft_lot15
2564           3410        9450
2565           3410        9450

[2 rows x 21 columns]
5101402435 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11287  5101402435 2014-06-03  312000.0         3       2.25         1540
11288  5101402435 2015-03-04  539000.0         3       2.25         1540

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11287      5338     1.0           0     0  ...     7         770
11288      5338     1.0           0     0  ...     7         770

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11287            770      1954             0    98115  47.6942 -122.304
11288            770      1954             0    98115  47.6942 -122.304

       sqft_living15  sqft_lot15
11287           1680        6525
11288           1680        6525

[2 rows x 21 columns]
9211500620 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
13023  9211500620 2014-10-08  182700.0         3       2.25         1740
13024  9211500620 2015-04-28  305000.0         3       2.25         1740

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13023      6650     1.0           0     0  ...     7        1240
13024      6650     1.0           0     0  ...     7        1240

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13023            500      1978             0    98023  47.2979 -122.379
13024            500      1978             0    98023  47.2979 -122.379

       sqft_living15  sqft_lot15
13023           1740        7000
13024           1740        7000

[2 rows x 21 columns]
5127001320 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8630  5127001320 2014-11-25  190000.0         3       1.75         1520
8631  5127001320 2015-02-23  314950.0         3       1.75         1520

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8630      9600     1.0           0     0  ...     7        1520
8631      9600     1.0           0     0  ...     7        1520

      sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
8630              0      1967             0    98059  47.473 -122.149
8631              0      1967             0    98059  47.473 -122.149

      sqft_living15  sqft_lot15
8630           1590       10183
8631           1590       10183

[2 rows x 21 columns]
7983000200 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
2631  7983000200 2014-10-05  169575.0         3        1.0         1300
2632  7983000200 2015-02-25  250000.0         3        1.0         1300

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2631      8284     1.0           0     0  ...     7        1300
2632      8284     1.0           0     0  ...     7        1300

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2631              0      1968             0    98003  47.3327 -122.306
2632              0      1968             0    98003  47.3327 -122.306

      sqft_living15  sqft_lot15
2631           1360        7848
2632           1360        7848

[2 rows x 21 columns]
302000375 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
9234  302000375 2014-08-14  169100.0         3        2.0         1050
9235  302000375 2015-05-06  250000.0         3        2.0         1050

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9234     18304     1.0           0     0  ...     7        1050
9235     18304     1.0           0     0  ...     7        1050

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9234              0      1953             0    98001  47.3206 -122.269
9235              0      1953             0    98001  47.3206 -122.269

      sqft_living15  sqft_lot15
9234           1690       15675
9235           1690       15675

[2 rows x 21 columns]
1974300020 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17290  1974300020 2014-08-27  380000.0         4        2.5         2270
17291  1974300020 2015-02-18  624900.0         4        2.5         2270

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17290     11500     1.0           0     0  ...     8        1540
17291     11500     1.0           0     0  ...     8        1540

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17290            730      1967             0    98034  47.7089 -122.241
17291            730      1967             0    98034  47.7089 -122.241

       sqft_living15  sqft_lot15
17290           2020       10918
17291           2020       10918

[2 rows x 21 columns]
723049156 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
3785  723049156 2014-05-23  149000.0         3        1.0         1700
3786  723049156 2014-11-12  284700.0         3        1.0         1700

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3785      8645     1.0           0     0  ...     6        1700
3786      8645     1.0           0     0  ...     6        1700

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
3785              0      1955             0    98146  47.4899 -122.337
3786              0      1955             0    98146  47.4899 -122.337

      sqft_living15  sqft_lot15
3785           1500        7980
3786           1500        7980

[2 rows x 21 columns]
7227800055 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10916  7227800055 2014-09-09  199500.0         4        2.0         1750
10917  7227800055 2014-11-24  247000.0         4        2.0         1750

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10916      8116     1.0           0     0  ...     5        1750
10917      8116     1.0           0     0  ...     5        1750

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10916              0      1943             0    98056  47.5097 -122.181
10917              0      1943             0    98056  47.5097 -122.181

       sqft_living15  sqft_lot15
10916           1440        7865
10917           1440        7865

[2 rows x 21 columns]
3558900590 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
18703  3558900590 2014-11-25  360000.0         6       1.75         2230
18704  3558900590 2015-03-24  692500.0         6       1.75         2230

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
18703     10080     1.0           0     0  ...     7        1390
18704     10080     1.0           0     0  ...     7        1390

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
18703            840      1969             0    98034  47.7089 -122.201
18704            840      1969             0    98034  47.7089 -122.201

       sqft_living15  sqft_lot15
18703           2110        8475
18704           2110        8475

[2 rows x 21 columns]
8062900070 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1128  8062900070 2014-09-09  272000.0         5        1.5         2550
1129  8062900070 2015-02-13  369000.0         5        1.5         2550

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1128      6300     1.0           0     0  ...     7        1560
1129      6300     1.0           0     0  ...     7        1560

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
1128            990      1959             0    98056  47.5014 -122.172
1129            990      1959             0    98056  47.5014 -122.172

      sqft_living15  sqft_lot15
1128           1380        6300
1129           1380        6300

[2 rows x 21 columns]
1781500435 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
2502  1781500435 2014-08-20  260000.0         3       1.75         1580
2503  1781500435 2015-02-25  575000.0         3       1.75         1580

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2502      7344     1.0           0     0  ...     7        1580
2503      7344     1.0           0     0  ...     7        1580

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
2502              0      1911             0    98126  47.5256 -122.38
2503              0      1911             0    98126  47.5256 -122.38

      sqft_living15  sqft_lot15
2502           1580        6207
2503           1580        6207

[2 rows x 21 columns]
6300000226 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
20779  6300000226 2014-06-26  240000.0         4        1.0         1200
20780  6300000226 2015-05-04  380000.0         4        1.0         1200

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
20779      2171     1.5           0     0  ...     7        1200
20780      2171     1.5           0     0  ...     7        1200

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
20779              0      1933             0    98133  47.7076 -122.342
20780              0      1933             0    98133  47.7076 -122.342

       sqft_living15  sqft_lot15
20779           1130        1598
20780           1130        1598

[2 rows x 21 columns]
5132000140 2

               id       date     price  bedrooms  bathrooms  sqft_living  \
12338  5132000140 2014-06-18  175000.0         6        1.0         1370
12339  5132000140 2015-01-20  415000.0         6        1.0         1370

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12338      5080     1.5           0     0  ...     6        1120
12339      5080     1.5           0     0  ...     6        1120

       sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
12338            250      1931             0    98106  47.5238 -122.35
12339            250      1931             0    98106  47.5238 -122.35

       sqft_living15  sqft_lot15
12338           1020        5080
12339           1020        5080

[2 rows x 21 columns]
8832900780 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6434  8832900780 2014-10-13  480000.0         5        2.0         1760
6435  8832900780 2015-04-08  647500.0         5        2.0         1760

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6434     21562     1.0           0     1  ...     8        1560
6435     21562     1.0           0     1  ...     8        1560

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
6434            200      1959             0    98028  47.7597 -122.263
6435            200      1959             0    98028  47.7597 -122.263

      sqft_living15  sqft_lot15
6434           2150       12676
6435           2150       12676

[2 rows x 21 columns]
8564860270 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
20669  8564860270 2014-07-08  449990.0         4        2.5         2680
20670  8564860270 2015-03-30  502000.0         4        2.5         2680

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
20669      5539     2.0           0     0  ...     8        2680
20670      5539     2.0           0     0  ...     8        2680

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
20669              0      2013             0    98045  47.4759 -121.734
20670              0      2013             0    98045  47.4759 -121.734

       sqft_living15  sqft_lot15
20669           2680        5992
20670           2680        5992

[2 rows x 21 columns]
641900050 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
17381  641900050 2014-08-19  335000.0         4       2.25         2160
17382  641900050 2015-02-06  499950.0         4       2.25         2160

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17381      8817     1.0           0     0  ...     7        1460
17382      8817     1.0           0     0  ...     7        1460

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17381            700      1965             0    98133  47.7595 -122.356
17382            700      1965             0    98133  47.7595 -122.356

       sqft_living15  sqft_lot15
17381           1880        8817
17382           1880        8817

[2 rows x 21 columns]
3262300940 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
4077  3262300940 2014-11-07  875000.0         3        1.0         1220
4078  3262300940 2015-02-10  940000.0         3        1.0         1220

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
4077      8119     1.0           0     0  ...     7        1220
4078      8119     1.0           0     0  ...     7        1220

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
4077              0      1955             0    98039  47.6328 -122.236
4078              0      1955             0    98039  47.6328 -122.236

      sqft_living15  sqft_lot15
4077           1910        8119
4078           1910        8119

[2 rows x 21 columns]
2767603612 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10610  2767603612 2014-05-12  500000.0         2       2.25         1290
10611  2767603612 2015-01-13  489000.0         2       2.25         1290

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10610      1334     3.0           0     0  ...     8        1290
10611      1334     3.0           0     0  ...     8        1290

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10610              0      2007             0    98107  47.6719 -122.382
10611              0      2007             0    98107  47.6719 -122.382

       sqft_living15  sqft_lot15
10610           1350        1334
10611           1350        1334

[2 rows x 21 columns]
8682262400 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
836  8682262400 2014-07-18  430000.0         2       1.75         1350
837  8682262400 2015-05-13  419950.0         2       1.75         1350

     sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
836      4003     1.0           0     0  ...     8        1350              0
837      4003     1.0           0     0  ...     8        1350              0

     yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
836      2004             0    98053  47.7176 -122.033           1350
837      2004             0    98053  47.7176 -122.033           1350

     sqft_lot15
836        4479
837        4479

[2 rows x 21 columns]
8651402750 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17066  8651402750 2015-02-18  132825.0         3        1.5         1210
17067  8651402750 2015-04-30  219950.0         3        1.5         1210

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17066      5200     1.0           0     0  ...     6        1210
17067      5200     1.0           0     0  ...     6        1210

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17066              0      1969             0    98042  47.3615 -122.087
17067              0      1969             0    98042  47.3615 -122.087

       sqft_living15  sqft_lot15
17066           1120        5200
17067           1120        5200

[2 rows x 21 columns]
2422049104 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10253  2422049104 2014-09-15   85000.0         2        1.0          830
10254  2422049104 2014-12-30  235000.0         2        1.0          830

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10253      9000     1.0           0     0  ...     6         830
10254      9000     1.0           0     0  ...     6         830

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10253              0      1939             0    98032  47.3813 -122.243
10254              0      1939             0    98032  47.3813 -122.243

       sqft_living15  sqft_lot15
10253           1160        7680
10254           1160        7680

[2 rows x 21 columns]
7977201065 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8915  7977201065 2014-11-04  350000.0         3       1.75         1380
8916  7977201065 2015-03-05  740000.0         3       1.75         1380

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8915      4590     1.0           0     0  ...     7         930
8916      4590     1.0           0     0  ...     7         930

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
8915            450      1950             0    98115  47.6841 -122.293
8916            450      1950             0    98115  47.6841 -122.293

      sqft_living15  sqft_lot15
8915           1320        4692
8916           1320        4692

[2 rows x 21 columns]
3630120700 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1464  3630120700 2014-05-13  757000.0         3       3.25         3190
1465  3630120700 2015-01-07  765000.0         3       3.25         3190

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1464      5283     2.0           0     0  ...     9        3190
1465      5283     2.0           0     0  ...     9        3190

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
1464              0      2007             0    98029  47.5534 -122.002
1465              0      2007             0    98029  47.5534 -122.002

      sqft_living15  sqft_lot15
1464           2950        5198
1465           2950        5198

[2 rows x 21 columns]
1423049019 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17580  1423049019 2014-05-23   90000.0         2        1.0          580
17581  1423049019 2015-03-31  220000.0         2        1.0          580

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17580      7500     1.0           0     0  ...     5         580
17581      7500     1.0           0     0  ...     5         580

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17580              0      1943             0    98178  47.4852 -122.251
17581              0      1943             0    98178  47.4852 -122.251

       sqft_living15  sqft_lot15
17580           1700       11250
17581           1700       11250

[2 rows x 21 columns]
123039336 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
12417  123039336 2014-06-11  148000.0         1        1.0          620
12418  123039336 2014-12-08  244900.0         1        1.0          620

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12417      8261     1.0           0     0  ...     5         620
12418      8261     1.0           0     0  ...     5         620

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12417              0      1939             0    98106  47.5138 -122.364
12418              0      1939             0    98106  47.5138 -122.364

       sqft_living15  sqft_lot15
12417           1180        8244
12418           1180        8244

[2 rows x 21 columns]
7387500235 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17482  7387500235 2014-05-15  340000.0         3       1.75         1960
17483  7387500235 2015-03-17  363000.0         3       1.75         1960

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17482      8136     1.0           0     0  ...     7         980
17483      8136     1.0           0     0  ...     7         980

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17482            980      1948             0    98106  47.5208 -122.364
17483            980      1948             0    98106  47.5208 -122.364

       sqft_living15  sqft_lot15
17482           1070        7480
17483           1070        7480

[2 rows x 21 columns]
705730280 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
15299  705730280 2014-08-19  325000.0         3        2.5         1740
15300  705730280 2015-04-21  335000.0         3        2.5         1740

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15299      5267     2.0           0     0  ...     7        1740
15300      5267     2.0           0     0  ...     7        1740

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15299              0      1999             0    98038  47.3777 -122.023
15300              0      1999             0    98038  47.3777 -122.023

       sqft_living15  sqft_lot15
15299           2180        5000
15300           2180        5000

[2 rows x 21 columns]
3333002450 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
14366  3333002450 2014-07-08  165000.0         1        1.0          850
14367  3333002450 2015-01-22  490000.0         1        1.0          850

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14366      8050     1.0           0     0  ...     6         850
14367      8050     1.0           0     0  ...     6         850

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14366              0      1906             0    98118  47.5427 -122.288
14367              0      1906             0    98118  47.5427 -122.288

       sqft_living15  sqft_lot15
14366           1590        5180
14367           1590        5180

[2 rows x 21 columns]
8820903380 2

             id       date     price  bedrooms  bathrooms  sqft_living  \
717  8820903380 2014-07-28  452000.0         6       2.25         2660
718  8820903380 2015-01-02  730000.0         6       2.25         2660

     sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
717     13579     2.0           0     0  ...     7        2660              0
718     13579     2.0           0     0  ...     7        2660              0

     yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
717      1937          1990    98125  47.7142 -122.286           1120
718      1937          1990    98125  47.7142 -122.286           1120

     sqft_lot15
717        8242
718        8242

[2 rows x 21 columns]
3598600049 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9820  3598600049 2014-10-03  124000.0         1       0.75          840
9821  3598600049 2015-04-24  224000.0         1       0.75          840

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9820      7203     1.5           0     0  ...     6         840
9821      7203     1.5           0     0  ...     6         840

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9820              0      1949             0    98168  47.4756 -122.301
9821              0      1949             0    98168  47.4756 -122.301

      sqft_living15  sqft_lot15
9820           1560        8603
9821           1560        8603

[2 rows x 21 columns]
3739500096 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9016  3739500096 2015-01-26  229000.0         3        2.0         1540
9017  3739500096 2015-05-05  430000.0         3        2.0         1540

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9016      6000     1.0           0     0  ...     6        1540
9017      6000     1.0           0     0  ...     6        1540

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9016              0      1953             0    98155  47.7372 -122.307
9017              0      1953             0    98155  47.7372 -122.307

      sqft_living15  sqft_lot15
9016           1490        8213
9017           1490        8213

[2 rows x 21 columns]
7961500010 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15146  7961500010 2014-08-06  245000.0         3       2.25         2210
15147  7961500010 2015-03-04  520000.0         3       2.25         2210

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15146     10794     1.0           0     0  ...     7        1540
15147     10794     1.0           0     0  ...     7        1540

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15146            670      1967             0    98178  47.4911 -122.224
15147            670      1967             0    98178  47.4911 -122.224

       sqft_living15  sqft_lot15
15146           2230       10753
15147           2230       10753

[2 rows x 21 columns]
9136103130 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
2976  9136103130 2014-12-01  430000.0         2        1.5         1090
2977  9136103130 2015-05-12  685000.0         2        1.5         1090

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2976      4013     1.5           0     0  ...     7        1090
2977      4013     1.5           0     0  ...     7        1090

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2976              0      1900             0    98103  47.6652 -122.338
2977              0      1900             0    98103  47.6652 -122.338

      sqft_living15  sqft_lot15
2976           1390        4013
2977           1390        4013

[2 rows x 21 columns]
7167000040 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
13298  7167000040 2014-08-13  740000.0         4        3.0         3350
13299  7167000040 2015-03-05  700000.0         4        3.0         3350

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13298    199253     2.0           0     0  ...    10        3350
13299    199253     2.0           0     0  ...    10        3350

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13298              0      2004             0    98010  47.3602 -121.988
13299              0      2004             0    98010  47.3602 -121.988

       sqft_living15  sqft_lot15
13298           3350      183897
13299           3350      183897

[2 rows x 21 columns]
5332200530 2
               id       date      price  bedrooms  bathrooms  sqft_living  \
13734  5332200530 2014-06-13   910000.0         5        2.5         2350
13735  5332200530 2015-04-24  1015000.0         5        2.5         2350

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13734      4000     2.0           0     0  ...     9        2350
13735      4000     2.0           0     0  ...     9        2350

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13734              0      1993             0    98112  47.6265 -122.296
13735              0      1993             0    98112  47.6265 -122.296

       sqft_living15  sqft_lot15
13734           1840        4000
13735           1840        4000

[2 rows x 21 columns]
8651510380 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6789  8651510380 2014-08-21  310000.0         3        2.0         2070
6790  8651510380 2014-12-16  539000.0         3        2.0         2070

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6789      9195     1.0           0     0  ...     8        1220
6790      9195     1.0           0     0  ...     8        1220

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
6789            850      1982             0    98074  47.6491 -122.061
6790            850      1982             0    98074  47.6491 -122.061

      sqft_living15  sqft_lot15
6789           2080        9551
6790           2080        9551

[2 rows x 21 columns]
1254200015 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3756  1254200015 2014-12-16  405000.0         3        2.5         2260
3757  1254200015 2015-04-08  625000.0         3        2.5         2260

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3756      5500     1.5           0     0  ...     7        1280
3757      5500     1.5           0     0  ...     7        1280

      sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
3756            980      1910             0    98117  47.681 -122.388
3757            980      1910             0    98117  47.681 -122.388

      sqft_living15  sqft_lot15
3756           1790        5355
3757           1790        5355

[2 rows x 21 columns]
8910500150 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12920  8910500150 2014-05-29  329932.0         3        1.5         1460
12921  8910500150 2015-01-20  539000.0         3        1.5         1460

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12920      5040     1.0           0     0  ...     7        1100
12921      5040     1.0           0     0  ...     7        1100

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12920            360      1971             0    98133  47.7112 -122.357
12921            360      1971             0    98133  47.7112 -122.357

       sqft_living15  sqft_lot15
12920           2330        7560
12921           2330        7560

[2 rows x 21 columns]
2621600015 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
7847  2621600015 2015-01-21  120000.0         3        1.0         1150
7848  2621600015 2015-04-30  175000.0         3        1.0         1150

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
7847      8924     1.0           0     0  ...     6        1150
7848      8924     1.0           0     0  ...     6        1150

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
7847              0      1943             0    98030  47.3865 -122.217
7848              0      1943             0    98030  47.3865 -122.217

      sqft_living15  sqft_lot15
7847           1492        8924
7848           1492        8924

[2 rows x 21 columns]
4139480200 2
             id       date      price  bedrooms  bathrooms  sqft_living  \
313  4139480200 2014-06-18  1384000.0         4       3.25         4290
314  4139480200 2014-12-09  1400000.0         4       3.25         4290

     sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
313     12103     1.0           0     3  ...    11        2690           1600
314     12103     1.0           0     3  ...    11        2690           1600

     yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
313      1997             0    98006  47.5503 -122.102           3860
314      1997             0    98006  47.5503 -122.102           3860

     sqft_lot15
313       11244
314       11244

[2 rows x 21 columns]
2560801222 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15568  2560801222 2014-06-18  180000.0         3       2.25         1990
15569  2560801222 2014-11-13  309950.0         3       2.25         1990

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15568      6350     2.0           0     0  ...     7        1990
15569      6350     2.0           0     0  ...     7        1990

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15568              0      1967             0    98198  47.3822 -122.316
15569              0      1967             0    98198  47.3822 -122.316

       sqft_living15  sqft_lot15
15568           1220        6250
15569           1220        6250

[2 rows x 21 columns]
4305200070 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11458  4305200070 2014-05-19  350000.0         3       2.25         1640
11459  4305200070 2014-09-22  561000.0         3       2.25         1640

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11458      7200     2.0           0     0  ...     8        1640
11459      7200     2.0           0     0  ...     8        1640

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11458              0      1985             0    98007  47.5948 -122.153
11459              0      1985             0    98007  47.5948 -122.153

       sqft_living15  sqft_lot15
11458           1830        8372
11459           1830        8372

[2 rows x 21 columns]
6381500170 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5756  6381500170 2014-08-26  235000.0         2        1.0          910
5757  6381500170 2015-01-16  365000.0         2        1.0          910

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5756      7617     1.0           0     0  ...     6         910
5757      7617     1.0           0     0  ...     6         910

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5756              0      1936             0    98125  47.7332 -122.305
5757              0      1936             0    98125  47.7332 -122.305

      sqft_living15  sqft_lot15
5756           1310        6624
5757           1310        6624

[2 rows x 21 columns]
5282200015 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8904  5282200015 2014-05-27  525000.0         5        3.0         2750
8905  5282200015 2015-01-26  840000.0         5        3.0         2750

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8904      3800     1.5           0     0  ...     7        1750
8905      3800     1.5           0     0  ...     7        1750

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
8904           1000      1926             0    98115  47.6845 -122.313
8905           1000      1926             0    98115  47.6845 -122.313

      sqft_living15  sqft_lot15
8904           1900        3800
8905           1900        3800

[2 rows x 21 columns]
1721801010 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8433  1721801010 2014-09-03  225000.0         3        1.0         1790
8434  1721801010 2015-04-24  302100.0         3        1.0         1790

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8433      6120     1.0           0     0  ...     6        1790
8434      6120     1.0           0     0  ...     6        1790

      sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
8433              0      1937          1964    98146  47.508 -122.337
8434              0      1937          1964    98146  47.508 -122.337

      sqft_living15  sqft_lot15
8433            830        6120
8434            830        6120

[2 rows x 21 columns]
1000102 2

           id       date     price  bedrooms  bathrooms  sqft_living  \
2496  1000102 2014-09-16  280000.0         6        3.0         2400
2497  1000102 2015-04-22  300000.0         6        3.0         2400

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2496      9373     2.0           0     0  ...     7        2400
2497      9373     2.0           0     0  ...     7        2400

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2496              0      1991             0    98002  47.3262 -122.214
2497              0      1991             0    98002  47.3262 -122.214

      sqft_living15  sqft_lot15
2496           2060        7316
2497           2060        7316

[2 rows x 21 columns]
2019200220 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12955  2019200220 2014-09-23  160000.0         3       2.25         1470
12956  2019200220 2015-02-26  269000.0         3       2.25         1470

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12955      8682     1.0           0     0  ...     7        1160
12956      8682     1.0           0     0  ...     7        1160

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12955            310      1985             0    98003  47.2729 -122.299
12956            310      1985             0    98003  47.2729 -122.299

       sqft_living15  sqft_lot15
12955           1670        8359
12956           1670        8359

[2 rows x 21 columns]
9250900104 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
16671  9250900104 2014-11-10  300000.0         5       1.75         2110
16672  9250900104 2015-04-10  496000.0         5       1.75         2110

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
16671      8500     1.0           0     0  ...     7        1100
16672      8500     1.0           0     0  ...     7        1100

       sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
16671           1010      1962             0    98133  47.7737 -122.35
16672           1010      1962             0    98133  47.7737 -122.35

       sqft_living15  sqft_lot15
16671           2020        8500
16672           2020        8500

[2 rows x 21 columns]
7524400250 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5251  7524400250 2014-08-22  424240.0         3        2.0         2080
5252  7524400250 2014-11-24  589950.0         3        2.0         2080

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5251     12094     2.0           0     0  ...     8        2080
5252     12094     2.0           0     0  ...     8        2080

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5251              0      1982             0    98052  47.7035 -122.164
5252              0      1982             0    98052  47.7035 -122.164

      sqft_living15  sqft_lot15
5251           2230       12204
5252           2230       12204

[2 rows x 21 columns]
1232000810 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
2531  1232000810 2014-09-12  340000.0         3        2.5         1400
2532  1232000810 2015-03-26  537000.0         3        2.5         1400

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2531      4800     1.0           0     0  ...     7        1200
2532      4800     1.0           0     0  ...     7        1200

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2531            200      1921             0    98117  47.6865 -122.379
2532            200      1921             0    98117  47.6865 -122.379

      sqft_living15  sqft_lot15
2531           1440        3840
2532           1440        3840

[2 rows x 21 columns]
1788800630 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5723  1788800630 2014-10-29   96500.0         3        1.0          840
5724  1788800630 2015-02-25  185000.0         3        1.0          840

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5723     12091     1.0           0     0  ...     6         840
5724     12091     1.0           0     0  ...     6         840

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5723              0      1959             0    98023  47.3281 -122.343
5724              0      1959             0    98023  47.3281 -122.343

      sqft_living15  sqft_lot15
5723            840        9324
5724            840        9324

[2 rows x 21 columns]
1237500540 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8505  1237500540 2014-10-21  225000.0         3       1.75         1370
8506  1237500540 2014-12-22  270000.0         3       1.75         1370

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8505     10866     1.0           0     0  ...     6        1370
8506     10866     1.0           0     0  ...     6        1370

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
8505              0      1945             0    98052  47.6774 -122.164
8506              0      1945             0    98052  47.6774 -122.164

      sqft_living15  sqft_lot15
8505           1580       14250
8506           1580       14250

[2 rows x 21 columns]
6117501820 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1234  6117501820 2014-06-18  250275.0         2        1.0          790
1235  6117501820 2015-04-28  435000.0         2        1.0          790

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1234     11234     1.0           0     0  ...     6         790
1235     11234     1.0           0     0  ...     6         790

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
1234              0      1942             0    98166  47.4413 -122.349
1235              0      1942             0    98166  47.4413 -122.349

      sqft_living15  sqft_lot15
1234           1930       11871
1235           1930       11871

[2 rows x 21 columns]
6669020290 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15156  6669020290 2014-10-23  169000.0         3       1.75         1720
15157  6669020290 2015-03-04  279950.0         3       1.75         1720

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15156      9775     1.0           0     0  ...     8        1720
15157      9775     1.0           0     0  ...     8        1720

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15156              0      1978             0    98032  47.3731 -122.286
15157              0      1978             0    98032  47.3731 -122.286

       sqft_living15  sqft_lot15
15156           1970        8400
15157           1970        8400

[2 rows x 21 columns]
3904100089 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15607  3904100089 2014-08-01  190000.0         3       1.75         1350
15608  3904100089 2015-03-18  300000.0         3       1.75         1350

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15607      7370     1.0           0     0  ...     6        1350
15608      7370     1.0           0     0  ...     6        1350

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15607              0      1912             0    98118  47.5336 -122.278
15608              0      1912             0    98118  47.5336 -122.278

       sqft_living15  sqft_lot15
15607           1440        6000
15608           1440        6000

[2 rows x 21 columns]
1250201165 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
14220  1250201165 2014-11-21  441000.0         5        2.5         2000
14221  1250201165 2015-03-17  474500.0         5        2.5         2000

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14220      3600     1.0           0     0  ...     6        1150
14221      3600     1.0           0     0  ...     6        1150

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14220            850      1987             0    98144  47.5971 -122.295
14221            850      1987             0    98144  47.5971 -122.295

       sqft_living15  sqft_lot15
14220           1410        3600
14221           1410        3600

[2 rows x 21 columns]
7972000010 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15365  7972000010 2014-05-20  120750.0         3       1.75         1140
15366  7972000010 2014-10-21  195000.0         3       1.75         1140

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15365      9628     1.0           0     0  ...     7        1140
15366      9628     1.0           0     0  ...     7        1140

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15365              0      1969             0    98023  47.2933 -122.372
15366              0      1969             0    98023  47.2933 -122.372

       sqft_living15  sqft_lot15
15365           1510        9633
15366           1510        9633

[2 rows x 21 columns]
1630700361 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17763  1630700361 2014-06-27  530000.0         4       1.75         2860
17764  1630700361 2015-04-09  583500.0         4       1.75         2860

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17763     48351     1.0           0     0  ...     8        1710
17764     48351     1.0           0     0  ...     8        1710

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17763           1150      1978             0    98077  47.7605 -122.085
17764           1150      1978             0    98077  47.7605 -122.085

       sqft_living15  sqft_lot15
17763           2460       43560
17764           2460       43560

[2 rows x 21 columns]
9238500040 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12832  9238500040 2014-06-24  400000.0         3        2.5         2970
12833  9238500040 2015-02-10  599000.0         3        2.5         2970

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12832     23100     1.0           0     0  ...     7        1510
12833     23100     1.0           0     0  ...     7        1510

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12832           1460      1967             0    98072  47.7735 -122.133
12833           1460      1967             0    98072  47.7735 -122.133

       sqft_living15  sqft_lot15
12832           2390       20300
12833           2390       20300

[2 rows x 21 columns]
1523049207 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
13183  1523049207 2014-08-05  161000.0         4        2.0         1700
13184  1523049207 2015-01-14  220000.0         4        2.0         1700

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13183      8043     1.0           0     0  ...     7         850
13184      8043     1.0           0     0  ...     7         850

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13183            850      1954             0    98168  47.4758 -122.288
13184            850      1954             0    98168  47.4758 -122.288

       sqft_living15  sqft_lot15
13183           1540       13260
13184           1540       13260

[2 rows x 21 columns]
3303000130 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5244  3303000130 2015-01-16  370000.0         3       2.25         1770
5245  3303000130 2015-04-28  520000.0         3       2.25         1770

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5244      7667     1.0           0     0  ...     8        1270
5245      7667     1.0           0     0  ...     8        1270

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5244            500      1966             0    98177  47.7724 -122.362
5245            500      1966             0    98177  47.7724 -122.362

      sqft_living15  sqft_lot15
5244           2180        8103
5245           2180        8103

[2 rows x 21 columns]
3293700496 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10221  3293700496 2014-08-14  270000.0         4       1.75         1850
10222  3293700496 2014-12-04  450000.0         4       1.75         1850

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10221      7730     1.0           0     0  ...     7        1100
10222      7730     1.0           0     0  ...     7        1100

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10221            750      1956             0    98133  47.7481 -122.355
10222            750      1956             0    98133  47.7481 -122.355

       sqft_living15  sqft_lot15
10221           2260        8581
10222           2260        8581

[2 rows x 21 columns]
7520000695 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12121  7520000695 2014-11-04  151100.0         3        1.0          840
12122  7520000695 2015-04-21  251000.0         3        1.0          840

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12121      4495     1.0           0     0  ...     6         840
12122      4495     1.0           0     0  ...     6         840

       sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
12121              0      1921             0    98146  47.496 -122.349
12122              0      1921             0    98146  47.496 -122.349

       sqft_living15  sqft_lot15
12121           1260        7434
12122           1260        7434

[2 rows x 21 columns]
1432400120 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
14574  1432400120 2014-11-11  165000.0         3        1.0         1010
14575  1432400120 2015-05-08  255000.0         3        1.0         1010

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14574      7690     1.0           0     0  ...     6        1010
14575      7690     1.0           0     0  ...     6        1010

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14574              0      1958             0    98058  47.4501 -122.176
14575              0      1958             0    98058  47.4501 -122.176

       sqft_living15  sqft_lot15
14574           1010        7619
14575           1010        7619

[2 rows x 21 columns]
3395040550 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
2038  3395040550 2014-07-28  250000.0         3        2.5         1530
2039  3395040550 2015-04-29  320000.0         3        2.5         1530

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2038      2890     2.0           0     0  ...     7        1530
2039      2890     2.0           0     0  ...     7        1530

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2038              0      2001             0    98108  47.5434 -122.293
2039              0      2001             0    98108  47.5434 -122.293

      sqft_living15  sqft_lot15
2038           1540        2890
2039           1540        2890

[2 rows x 21 columns]
5054800110 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9489  5054800110 2014-10-16  238000.0         5       2.25         2240
9490  5054800110 2015-02-13  328000.0         5       2.25         2240

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9489      9652     2.0           0     0  ...     7        2240
9490      9652     2.0           0     0  ...     7        2240

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9489              0      1990             0    98055  47.4249 -122.211
9490              0      1990             0    98055  47.4249 -122.211

      sqft_living15  sqft_lot15
9489           2180       11644
9490           2180       11644

[2 rows x 21 columns]
5249801440 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6902  5249801440 2014-12-16  250000.0         3        1.0         1660
6903  5249801440 2015-04-22  570000.0         3        1.0         1660

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6902      7650     1.5           0     0  ...     7        1350
6903      7650     1.5           0     0  ...     7        1350

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
6902            310      1910             0    98118  47.5576 -122.277
6903            310      1910             0    98118  47.5576 -122.277

      sqft_living15  sqft_lot15
6902           1750        5760
6903           1750        5760

[2 rows x 21 columns]
4222310010 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
14993  4222310010 2014-12-26  152500.0         4        1.0         1730
14994  4222310010 2015-04-20  267950.0         4        1.0         1730

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14993      7350     1.5           0     0  ...     6        1730
14994      7350     1.5           0     0  ...     6        1730

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14993              0      1970             0    98003  47.3467 -122.307
14994              0      1970             0    98003  47.3467 -122.307

       sqft_living15  sqft_lot15
14993           1440        7752
14994           1440        7752

[2 rows x 21 columns]
6751300375 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
18233  6751300375 2014-07-02  415000.0         3        1.0         1520
18234  6751300375 2014-10-16  522500.0         3        1.0         1520

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
18233      9030     1.0           0     0  ...     7        1520
18234      9030     1.0           0     0  ...     7        1520

       sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
18233              0      1956             0    98007  47.587 -122.134
18234              0      1956             0    98007  47.587 -122.134

       sqft_living15  sqft_lot15
18233           1470        8712
18234           1470        8712

[2 rows x 21 columns]
2023049218 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
13628  2023049218 2014-07-16  105500.0         2        1.0          930
13629  2023049218 2015-03-16  445000.0         2        1.0          930

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13628      7740     1.0           0     0  ...     5         930
13629      7740     1.0           0     0  ...     5         930

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13628              0      1932             0    98148  47.4611 -122.324
13629              0      1932             0    98148  47.4611 -122.324

       sqft_living15  sqft_lot15
13628           1620        8584
13629           1620        8584

[2 rows x 21 columns]
2212200100 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9392  2212200100 2014-10-22  229950.0         4        2.5         2150
9393  2212200100 2015-04-22  344900.0         4        2.5         2150

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9392      7670     1.0           0     0  ...     7        1240
9393      7670     1.0           0     0  ...     7        1240

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9392            910      1976             0    98031  47.3942 -122.189
9393            910      1976             0    98031  47.3942 -122.189

      sqft_living15  sqft_lot15
9392           1610        7350
9393           1610        7350

[2 rows x 21 columns]
4302201085 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9439  4302201085 2014-09-18  248000.0         3        1.0         1470
9440  4302201085 2015-05-06  546940.0         3        1.0         1470

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9439      7680     1.0           0     0  ...     7        1220
9440      7680     1.0           0     0  ...     7        1220

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9439            250      1946             0    98106  47.5276 -122.359
9440            250      1946             0    98106  47.5276 -122.359

      sqft_living15  sqft_lot15
9439           1470        6784
9440           1470        6784

[2 rows x 21 columns]
2787460720 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8125  2787460720 2015-02-27  200000.0         3        2.0         1010
8126  2787460720 2015-05-06  259950.0         3        2.0         1010

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8125      7896     1.0           0     0  ...     7        1010
8126      7896     1.0           0     0  ...     7        1010

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
8125              0      1984             0    98031  47.4046 -122.181
8126              0      1984             0    98031  47.4046 -122.181

      sqft_living15  sqft_lot15
8125           1540        7896
8126           1540        7896

[2 rows x 21 columns]
3332000615 2

               id       date     price  bedrooms  bathrooms  sqft_living  \
18762  3332000615 2014-10-20  310000.0         3        1.0         1330
18763  3332000615 2015-04-22  389000.0         3        1.0         1330

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
18762      3740     1.5           0     0  ...     6        1330
18763      3740     1.5           0     0  ...     6        1330

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
18762              0      1903             0    98118  47.5502 -122.274
18763              0      1903             0    98118  47.5502 -122.274

       sqft_living15  sqft_lot15
18762           1330        5053
18763           1330        5053

[2 rows x 21 columns]
6791200120 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17851  6791200120 2014-09-23  480000.0         3       2.25         1820
17852  6791200120 2015-04-07  515000.0         3       2.25         1820

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17851     13362     1.0           0     0  ...     8        1220
17852     13362     1.0           0     0  ...     8        1220

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17851            600      1977             0    98075  47.5898 -122.052
17852            600      1977             0    98075  47.5898 -122.052

       sqft_living15  sqft_lot15
17851           2050       15000
17852           2050       15000

[2 rows x 21 columns]
3185600040 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
13617  3185600040 2014-05-22  180000.0         2        1.0         1400
13618  3185600040 2014-12-24  310000.0         2        1.0         1400

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13617      4500     1.0           0     0  ...     7         900
13618      4500     1.0           0     0  ...     7         900

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13617            500      1922             0    98055  47.4866 -122.219
13618            500      1922             0    98055  47.4866 -122.219

       sqft_living15  sqft_lot15
13617           1400        5500
13618           1400        5500

[2 rows x 21 columns]
4443800385 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9279  4443800385 2014-08-18  410000.0         2        1.0         1480
9280  4443800385 2015-05-06  778100.0         2        1.0         1480

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9279      4080     1.0           0     0  ...     7        1050
9280      4080     1.0           0     0  ...     7        1050

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9279            430      1949             0    98117  47.6842 -122.393
9280            430      1949             0    98117  47.6842 -122.393

      sqft_living15  sqft_lot15
9279           1310        4080
9280           1310        4080

[2 rows x 21 columns]
4202400078 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15468  4202400078 2015-01-28  175000.0         2        1.0         1410
15469  4202400078 2015-04-28  335000.0         2        1.0         1410

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15468      7000     1.0           0     0  ...     7        1410
15469      7000     1.0           0     0  ...     7        1410

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15468              0      1968             0    98055  47.4908 -122.223
15469              0      1968             0    98055  47.4908 -122.223

       sqft_living15  sqft_lot15
15468           1540        6000
15469           1540        6000

[2 rows x 21 columns]
1450100390 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10272  1450100390 2014-09-05  125000.0         3        1.0          920
10273  1450100390 2015-03-16  208000.0         3        1.0          920

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10272      7314     1.0           0     0  ...     6         920
10273      7314     1.0           0     0  ...     6         920

       sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
10272              0      1960             0    98002  47.2892 -122.22
10273              0      1960             0    98002  47.2892 -122.22

       sqft_living15  sqft_lot15
10272           1010        7420
10273           1010        7420

[2 rows x 21 columns]
2767602141 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3623  2767602141 2014-09-05  525000.0         3        1.5         1380
3624  2767602141 2014-12-22  650000.0         3        1.5         1380

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3623      4290     1.0           0     0  ...     7        1080
3624      4290     1.0           0     0  ...     7        1080

      sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
3623            300      1955             0    98107  47.674 -122.379
3624            300      1955             0    98107  47.674 -122.379

      sqft_living15  sqft_lot15
3623           1510        3900
3624           1510        3900

[2 rows x 21 columns]
5101405604 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8532  5101405604 2014-08-14  350000.0         1        1.0          900
8533  5101405604 2015-04-28  395000.0         1        1.0          900

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8532      6380     1.0           0     0  ...     6         900
8533      6380     1.0           0     0  ...     6         900

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
8532              0      1947             0    98125  47.7019 -122.311
8533              0      1947             0    98125  47.7019 -122.311

      sqft_living15  sqft_lot15
8532           1830        6380
8533           1830        6380

[2 rows x 21 columns]
7893805650 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15656  7893805650 2014-05-05  210000.0         5        2.0         2050
15657  7893805650 2015-03-13  475000.0         5        2.0         2050

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15656     10200     1.0           0     0  ...     6        1430
15657     10200     1.0           0     0  ...     6        1430

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15656            620      1956             0    98198  47.4136 -122.333
15657            620      1956             0    98198  47.4136 -122.333

       sqft_living15  sqft_lot15
15656           1940        8625
15657           1940        8625

[2 rows x 21 columns]
5536100020 2
               id       date      price  bedrooms  bathrooms  sqft_living  \
16012  5536100020 2014-12-15   987000.0         3        2.0         2160
16013  5536100020 2015-05-12  1190000.0         3        2.0         2160

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
16012     15788     1.0           0     0  ...     8        2160
16013     15788     1.0           0     0  ...     8        2160

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
16012              0      1951             0    98004  47.6227 -122.207
16013              0      1951             0    98004  47.6227 -122.207

       sqft_living15  sqft_lot15
16012           2260        9787
16013           2260        9787

[2 rows x 21 columns]
3969300030 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
345  3969300030 2014-07-23  165000.0         4        1.0         1000
346  3969300030 2014-12-29  239900.0         4        1.0         1000

     sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
345      7134     1.0           0     0  ...     6        1000              0
346      7134     1.0           0     0  ...     6        1000              0

     yr_built  yr_renovated  zipcode      lat    long  sqft_living15  \
345      1943             0    98178  47.4897 -122.24           1020
346      1943             0    98178  47.4897 -122.24           1020

     sqft_lot15
345        7138
346        7138

[2 rows x 21 columns]
4139440480 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17204  4139440480 2014-06-26  695000.0         3       2.75         2590
17205  4139440480 2014-12-01  796500.0         3       2.75         2590

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17204     12063     2.0           0     0  ...    10        2590
17205     12063     2.0           0     0  ...    10        2590

       sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
17204              0      1993             0    98006  47.5527 -122.12
17205              0      1993             0    98006  47.5527 -122.12

       sqft_living15  sqft_lot15
17204           2850        8469
17205           2850        8469

[2 rows x 21 columns]
5083000375 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3033  5083000375 2014-10-27  170000.0         3        1.0         1310
3034  5083000375 2015-03-19  235000.0         3        1.0         1310

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3033      9529     1.0           0     0  ...     7        1310
3034      9529     1.0           0     0  ...     7        1310

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
3033              0      1956             0    98198  47.4105 -122.295
3034              0      1956             0    98198  47.4105 -122.295

      sqft_living15  sqft_lot15
3033           1330        9529
3034           1330        9529

[2 rows x 21 columns]
722039087 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
9275  722039087 2014-09-23  220500.0         2        1.0          990
9276  722039087 2015-05-04  329000.0         2        1.0          990

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9275     57499     1.0           0     0  ...     6         990
9276     57499     1.0           0     0  ...     6         990

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9275              0      1949             0    98070  47.4145 -122.463
9276              0      1949             0    98070  47.4145 -122.463

      sqft_living15  sqft_lot15
9275           2090       27442
9276           2090       27442

[2 rows x 21 columns]
1823049202 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3540  1823049202 2014-06-10  175000.0         6        1.5         1930
3541  1823049202 2015-01-07  326000.0         6        1.5         1930

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3540      8400     1.0           0     0  ...     7        1030
3541      8400     1.0           0     0  ...     7        1030

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
3540            900      1971             0    98146  47.4869 -122.34
3541            900      1971             0    98146  47.4869 -122.34

      sqft_living15  sqft_lot15
3540           1780        9520
3541           1780        9520

[2 rows x 21 columns]
8807810890 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11586  8807810890 2014-08-27  259875.0         3        1.0         1250
11587  8807810890 2014-11-05  385000.0         3        1.0         1250

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11586     21303     1.0           0     0  ...     6        1250
11587     21303     1.0           0     0  ...     6        1250

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11586              0      1970             0    98053  47.6625 -122.059
11587              0      1970             0    98053  47.6625 -122.059

       sqft_living15  sqft_lot15
11586           1250       17920
11587           1250       17920

[2 rows x 21 columns]
8945100320 2

               id       date     price  bedrooms  bathrooms  sqft_living  \
10226  8945100320 2014-05-06  136500.0         3        1.5         1420
10227  8945100320 2014-10-08  224097.0         3        1.5         1420

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10226      8580     1.0           0     0  ...     6        1420
10227      8580     1.0           0     0  ...     6        1420

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10226              0      1962             0    98023  47.3076 -122.362
10227              0      1962             0    98023  47.3076 -122.362

       sqft_living15  sqft_lot15
10226           1200        8580
10227           1200        8580

[2 rows x 21 columns]
6632900574 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5340  6632900574 2014-08-06  367500.0         5        3.0         2980
5341  6632900574 2015-02-25  595000.0         5        3.0         2980

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5340     10064     1.0           0     0  ...     7        1680
5341     10064     1.0           0     0  ...     7        1680

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5340           1300      1940             0    98155  47.7372 -122.316
5341           1300      1940             0    98155  47.7372 -122.316

      sqft_living15  sqft_lot15
5340           1590        7800
5341           1590        7800

[2 rows x 21 columns]
2231500030 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
371  2231500030 2014-10-01  315000.0         4       2.25         2180
372  2231500030 2015-03-24  530000.0         4       2.25         2180

     sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
371     10754     1.0           0     0  ...     7        1100           1080
372     10754     1.0           0     0  ...     7        1100           1080

     yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
371      1954             0    98133  47.7711 -122.341           1810
372      1954             0    98133  47.7711 -122.341           1810

     sqft_lot15
371        6929
372        6929

[2 rows x 21 columns]
9834200305 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15199  9834200305 2014-07-16  350000.0         3        1.0         1790
15200  9834200305 2015-02-10  615000.0         3        1.0         1790

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15199      3876     1.5           0     0  ...     7        1090
15200      3876     1.5           0     0  ...     7        1090

       sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
15199            700      1904             0    98144  47.575 -122.288
15200            700      1904             0    98144  47.575 -122.288

       sqft_living15  sqft_lot15
15199           1360        4080
15200           1360        4080

[2 rows x 21 columns]
8645530010 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6533  8645530010 2014-05-15  225000.0         3        2.0         1400
6534  8645530010 2015-03-25  295000.0         3        2.0         1400

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6533      7384     1.0           0     0  ...     7        1150
6534      7384     1.0           0     0  ...     7        1150

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
6533            250      1979             0    98058  47.4655 -122.174
6534            250      1979             0    98058  47.4655 -122.174

      sqft_living15  sqft_lot15
6533           1820        7992
6534           1820        7992

[2 rows x 21 columns]
7888000390 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1576  7888000390 2014-06-27  140000.0         3        1.0         1060
1577  7888000390 2015-04-01  235000.0         3        1.0         1060

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1576      7473     1.0           0     0  ...     7        1060
1577      7473     1.0           0     0  ...     7        1060

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
1576              0      1959             0    98198  47.3699 -122.309
1577              0      1959             0    98198  47.3699 -122.309

      sqft_living15  sqft_lot15
1576           1320        7912
1577           1320        7912

[2 rows x 21 columns]
3432501415 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
13659  3432501415 2014-07-14  265000.0         3       1.75         1170
13660  3432501415 2014-11-11  399000.0         3       1.75         1170

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13659      8148     1.0           0     0  ...     7        1170
13660      8148     1.0           0     0  ...     7        1170

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13659              0      1952             0    98155  47.7479 -122.318
13660              0      1952             0    98155  47.7479 -122.318

       sqft_living15  sqft_lot15
13659           1200        8147
13660           1200        8147

[2 rows x 21 columns]
2143700830 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1864  2143700830 2014-10-06  207000.0         4        2.5         2100
1865  2143700830 2015-03-12  370000.0         4        2.5         2100

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1864     19680     1.5           0     0  ...     6        2100
1865     19680     1.5           0     0  ...     6        2100

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
1864              0      1914             0    98055  47.4787 -122.23
1865              0      1914             0    98055  47.4787 -122.23

      sqft_living15  sqft_lot15
1864           1340       12300
1865           1340       12300

[2 rows x 21 columns]
9353300600 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
4342  9353300600 2014-06-24  348500.0         3        1.5         1360
4343  9353300600 2015-03-26  370000.0         3        1.5         1360

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
4342     10726     1.0           0     0  ...     7        1360
4343     10726     1.0           0     0  ...     7        1360

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
4342              0      1966             0    98059  47.4948 -122.134
4343              0      1966             0    98059  47.4948 -122.134

      sqft_living15  sqft_lot15
4342           1650       10726
4343           1650       10726

[2 rows x 21 columns]
1524079093 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
4872  1524079093 2014-08-27  275000.0         3       1.75         1300
4873  1524079093 2015-03-18  369500.0         3       1.75         1300

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
4872     20700     1.0           0     0  ...     7        1300
4873     20700     1.0           0     0  ...     7        1300

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
4872              0      1962             0    98024  47.5587 -121.904
4873              0      1962             0    98024  47.5587 -121.904

      sqft_living15  sqft_lot15
4872           1930       37638
4873           1930       37638

[2 rows x 21 columns]
8121100395 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
18705  8121100395 2014-06-24  425000.0         4        1.5         1600
18706  8121100395 2015-03-11  645000.0         4        1.5         1600

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
18705      6180     1.5           0     0  ...     6        1600
18706      6180     1.5           0     0  ...     6        1600

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
18705              0      1946             0    98118  47.5681 -122.285
18706              0      1946             0    98118  47.5681 -122.285

       sqft_living15  sqft_lot15
18705           1410        6180
18706           1410        6180

[2 rows x 21 columns]
1231000510 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1202  1231000510 2014-09-22  263000.0         3       1.75         1490
1203  1231000510 2015-05-04  510000.0         3       1.75         1490

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1202      3800     1.0           0     0  ...     6         700
1203      3800     1.0           0     0  ...     6         700

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
1202            790      1913             0    98118  47.5554 -122.27
1203            790      1913             0    98118  47.5554 -122.27

      sqft_living15  sqft_lot15
1202           2180        4000
1203           2180        4000

[2 rows x 21 columns]
7701960990 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11362  7701960990 2014-06-16  862000.0         4        2.5         3190
11363  7701960990 2014-08-19  870000.0         4        2.5         3190

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11362     14565     2.0           0     0  ...    11        3190
11363     14565     2.0           0     0  ...    11        3190

       sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
11362              0      1990             0    98077  47.713 -122.072
11363              0      1990             0    98077  47.713 -122.072

       sqft_living15  sqft_lot15
11362           3420       20475
11363           3420       20475

[2 rows x 21 columns]
9809000020 2
              id       date      price  bedrooms  bathrooms  sqft_living  \
4922  9809000020 2014-05-13  1895000.0         5       2.25         3120
4923  9809000020 2015-03-13  1940000.0         5       2.25         3120

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
4922     16672     2.0           0     0  ...     9        3120
4923     16672     2.0           0     0  ...     9        3120

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
4922              0      1969             0    98004  47.6458 -122.219
4923              0      1969             0    98004  47.6458 -122.219

      sqft_living15  sqft_lot15
4922           3740       17853
4923           3740       17853

[2 rows x 21 columns]
1825069031 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3950  1825069031 2014-08-14  550000.0         4       1.75         2410
3951  1825069031 2014-10-16  550000.0         4       1.75         2410

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3950      8447     2.0           0     3  ...     8        2060
3951      8447     2.0           0     3  ...     8        2060

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
3950            350      1936          1980    98074  47.6499 -122.088
3951            350      1936          1980    98074  47.6499 -122.088

      sqft_living15  sqft_lot15
3950           2520       14789
3951           2520       14789

[2 rows x 21 columns]
9222400605 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6371  9222400605 2014-11-15  842500.0         5        4.0         2980
6372  9222400605 2015-04-11  850000.0         5        4.0         2980

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6371      4500     1.5           0     0  ...     7        2070
6372      4500     1.5           0     0  ...     7        2070

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
6371            910      1921             0    98115  47.6736 -122.323
6372            910      1921             0    98115  47.6736 -122.323

      sqft_living15  sqft_lot15
6371           1560        4225
6372           1560        4225

[2 rows x 21 columns]
4154300296 2

              id       date     price  bedrooms  bathrooms  sqft_living  \
8340  4154300296 2014-09-26  235000.0         3        1.0          960
8341  4154300296 2015-03-18  545000.0         3        1.0          960

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8340      5030     1.0           0     0  ...     7         960
8341      5030     1.0           0     0  ...     7         960

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
8340              0      1955             0    98118  47.5611 -122.28
8341              0      1955             0    98118  47.5611 -122.28

      sqft_living15  sqft_lot15
8340           1460        5400
8341           1460        5400

[2 rows x 21 columns]
726049190 2
            id       date     price  bedrooms  bathrooms  sqft_living  \
823  726049190 2014-10-02  287500.0         3        1.0         1810
824  726049190 2015-02-18  431000.0         3        1.0         1810

     sqft_lot  floors  waterfront  view  ... grade  sqft_above  sqft_basement  \
823      7200     1.0           0     0  ...     7        1130            680
824      7200     1.0           0     0  ...     7        1130            680

     yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
823      1954             0    98133  47.7493 -122.351           1810
824      1954             0    98133  47.7493 -122.351           1810

     sqft_lot15
823        8100
824        8100

[2 rows x 21 columns]
7409700215 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3298  7409700215 2014-06-06  550000.0         3        1.5         1900
3299  7409700215 2015-03-13  921500.0         3        1.5         1900

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3298      5000     1.5           0     0  ...     7        1640
3299      5000     1.5           0     0  ...     7        1640

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
3298            260      1926             0    98115  47.6779 -122.294
3299            260      1926             0    98115  47.6779 -122.294

      sqft_living15  sqft_lot15
3298           2090        5000
3299           2090        5000

[2 rows x 21 columns]
1568100300 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9114  1568100300 2014-09-17  350000.0         6        4.5         3500
9115  1568100300 2015-01-21  682500.0         6        4.5         3500

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9114      8504     2.0           0     0  ...     7        3500
9115      8504     2.0           0     0  ...     7        3500

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9114              0      1980             0    98155  47.7351 -122.295
9115              0      1980             0    98155  47.7351 -122.295

      sqft_living15  sqft_lot15
9114           1550        8460
9115           1550        8460

[2 rows x 21 columns]
3883800011 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8274  3883800011 2014-11-05   82000.0         3        1.0          860
8275  3883800011 2015-04-08  219900.0         3        1.0          860

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8274     10426     1.0           0     0  ...     6         860
8275     10426     1.0           0     0  ...     6         860

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
8274              0      1954             0    98146  47.4987 -122.341
8275              0      1954             0    98146  47.4987 -122.341

      sqft_living15  sqft_lot15
8274           1140       11250
8275           1140       11250

[2 rows x 21 columns]
6141100320 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11061  6141100320 2014-07-07  245000.0         2        1.0         1500
11062  6141100320 2015-02-13  570000.0         2        1.0         1500

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11061      6685     1.0           0     0  ...     7        1190
11062      6685     1.0           0     0  ...     7        1190

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11061            310      1926             0    98133  47.7186 -122.354
11062            310      1926             0    98133  47.7186 -122.354

       sqft_living15  sqft_lot15
11061           1420        6561
11062           1420        6561

[2 rows x 21 columns]
6021500970 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
19335  6021500970 2014-05-28  345000.0         2        1.0         1080
19336  6021500970 2015-04-07  874950.0         2        1.0         1080

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
19335      4000     1.0           0     0  ...     7        1080
19336      4000     1.0           0     0  ...     7        1080

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
19335              0      1940             0    98117  47.6902 -122.387
19336              0      1940             0    98117  47.6902 -122.387

       sqft_living15  sqft_lot15
19335           1530        4240
19336           1530        4240

[2 rows x 21 columns]
1995200200 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
10257  1995200200 2014-05-06  313950.0         3        1.0         1510
10258  1995200200 2014-10-08  415000.0         3        1.0         1510

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
10257      6083     1.0           0     0  ...     6         860
10258      6083     1.0           0     0  ...     6         860

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
10257            650      1940             0    98115  47.6966 -122.324
10258            650      1940             0    98115  47.6966 -122.324

       sqft_living15  sqft_lot15
10257           1510        5712
10258           1510        5712

[2 rows x 21 columns]
4031000520 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12208  4031000520 2014-07-08  115000.0         1        2.0         1150
12209  4031000520 2014-11-25  227000.0         1        2.0         1150

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12208      9812     1.0           0     0  ...     7        1150
12209      9812     1.0           0     0  ...     7        1150

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12208              0      1962             0    98001  47.2951 -122.284
12209              0      1962             0    98001  47.2951 -122.284

       sqft_living15  sqft_lot15
12208           1200        9812
12209           1200        9812

[2 rows x 21 columns]
251300110 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
7792  251300110 2014-07-31  225000.0         3       2.25         2510
7793  251300110 2015-01-14  358000.0         3       2.25         2510

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
7792     12013     2.0           0     0  ...     8        2510
7793     12013     2.0           0     0  ...     8        2510

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
7792              0      1988             0    98003  47.3473 -122.314
7793              0      1988             0    98003  47.3473 -122.314

      sqft_living15  sqft_lot15
7792           1870        8017
7793           1870        8017

[2 rows x 21 columns]
526059224 2
             id       date     price  bedrooms  bathrooms  sqft_living  \
7178  526059224 2014-09-23  260000.0         4       1.75         1650
7179  526059224 2015-02-06  470000.0         4       1.75         1650

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
7178      7276     1.0           0     0  ...     7        1010
7179      7276     1.0           0     0  ...     7        1010

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
7178            640      1977             0    98011  47.7721 -122.206
7179            640      1977             0    98011  47.7721 -122.206

      sqft_living15  sqft_lot15
7178           1840        8550
7179           1840        8550

[2 rows x 21 columns]
1954420170 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5758  1954420170 2014-05-21  368250.0         3        2.5         2150
5759  1954420170 2014-11-13  580000.0         3        2.5         2150

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5758      7484     2.0           0     0  ...     8        2150
5759      7484     2.0           0     0  ...     8        2150

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5758              0      1988             0    98074  47.6191 -122.043
5759              0      1988             0    98074  47.6191 -122.043

      sqft_living15  sqft_lot15
5758           2150        6879
5759           2150        6879

[2 rows x 21 columns]
4139420590 2
              id       date      price  bedrooms  bathrooms  sqft_living  \
7845  4139420590 2014-05-20  1212500.0         4        3.5         4560
7846  4139420590 2014-08-27  1200000.0         4        3.5         4560

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
7845     16643     1.0           0     3  ...    12        2230
7846     16643     1.0           0     3  ...    12        2230

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
7845           2330      1995             0    98006  47.5521 -122.115
7846           2330      1995             0    98006  47.5521 -122.115

      sqft_living15  sqft_lot15
7845           4060       15177
7846           4060       15177

[2 rows x 21 columns]
8103000110 2

              id       date     price  bedrooms  bathrooms  sqft_living  \
9506  8103000110 2014-06-03  280000.0         2        1.5         1480
9507  8103000110 2015-02-05  490000.0         2        1.5         1480

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9506     15641     1.0           0     0  ...     7        1480
9507     15641     1.0           0     0  ...     7        1480

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9506              0      1940             0    98146  47.5008 -122.366
9507              0      1940             0    98146  47.5008 -122.366

      sqft_living15  sqft_lot15
9506           1520        7525
9507           1520        7525

[2 rows x 21 columns]
3578401060 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5694  3578401060 2014-12-16  345000.0         3       2.25         1920
5695  3578401060 2015-05-04  625000.0         3       2.25         1920

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5694      9672     2.0           0     0  ...     8        1920
5695      9672     2.0           0     0  ...     8        1920

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5694              0      1984             0    98074  47.6233 -122.046
5695              0      1984             0    98074  47.6233 -122.046

      sqft_living15  sqft_lot15
5694           1950       10125
5695           1950       10125

[2 rows x 21 columns]
9828200460 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6345  9828200460 2014-06-27  260000.0         2        1.0          700
6346  9828200460 2015-01-06  430000.0         2        1.0          700

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6345      4800     1.0           0     0  ...     7         700
6346      4800     1.0           0     0  ...     7         700

      sqft_basement  yr_built  yr_renovated  zipcode      lat   long  \
6345              0      1922             0    98122  47.6147 -122.3
6346              0      1922             0    98122  47.6147 -122.3

      sqft_living15  sqft_lot15
6345           1440        4800
6346           1440        4800

[2 rows x 21 columns]
4435000705 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3793  4435000705 2014-07-08  160000.0         3        1.0         1350
3794  4435000705 2015-03-09  255500.0         3        1.0         1350

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3793      8700     1.5           0     0  ...     6        1350
3794      8700     1.5           0     0  ...     6        1350

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
3793              0      1942             0    98188  47.4497 -122.289
3794              0      1942             0    98188  47.4497 -122.289

      sqft_living15  sqft_lot15
3793           1300        8700
3794           1300        8700

[2 rows x 21 columns]
937000330 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
13692  937000330 2014-12-24  157000.0         3        1.5         1170
13693  937000330 2015-03-19  246500.0         3        1.5         1170

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13692     11530     1.0           0     0  ...     7        1170
13693     11530     1.0           0     0  ...     7        1170

       sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
13692              0      1960             0    98198  47.4211 -122.29
13693              0      1960             0    98198  47.4211 -122.29

       sqft_living15  sqft_lot15
13692           1550        8605
13693           1550        8605

[2 rows x 21 columns]
109200390 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
11433  109200390 2014-08-20  245000.0         3       1.75         1480
11434  109200390 2014-10-20  250000.0         3       1.75         1480

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11433      3900     1.0           0     0  ...     7        1480
11434      3900     1.0           0     0  ...     7        1480

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11433              0      1980             0    98023  47.2977 -122.367
11434              0      1980             0    98023  47.2977 -122.367

       sqft_living15  sqft_lot15
11433           1830        6956
11434           1830        6956

[2 rows x 21 columns]
1788900230 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
13756  1788900230 2014-07-22   86500.0         3        1.0          840
13757  1788900230 2015-04-03  199950.0         3        1.0          840

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
13756      9480     1.0           0     0  ...     6         840
13757      9480     1.0           0     0  ...     6         840

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
13756              0      1960             0    98023  47.3277 -122.341
13757              0      1960             0    98023  47.3277 -122.341

       sqft_living15  sqft_lot15
13756            840        9420
13757            840        9420

[2 rows x 21 columns]
7657000540 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
18564  7657000540 2014-09-02  165000.0         4        1.0         1220
18565  7657000540 2015-03-04  260000.0         4        1.0         1220

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
18564      7980     1.5           0     0  ...     6        1220
18565      7980     1.5           0     0  ...     6        1220

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
18564              0      1944             0    98178  47.4924 -122.237
18565              0      1944             0    98178  47.4924 -122.237

       sqft_living15  sqft_lot15
18564           1210        7920
18565           1210        7920

[2 rows x 21 columns]
9834200885 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
1085  9834200885 2014-07-17  360000.0         4        2.5         2080
1086  9834200885 2015-04-20  550000.0         4        2.5         2080

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
1085      4080     1.0           0     0  ...     7        1040
1086      4080     1.0           0     0  ...     7        1040

      sqft_basement  yr_built  yr_renovated  zipcode     lat    long  \
1085           1040      1962             0    98144  47.572 -122.29
1086           1040      1962             0    98144  47.572 -122.29

      sqft_living15  sqft_lot15
1085           1340        4080
1086           1340        4080

[2 rows x 21 columns]
7853400250 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
20180  7853400250 2014-06-04  610000.0         4        3.5         2910
20181  7853400250 2015-02-19  645000.0         4        3.5         2910

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
20180      5260     2.0           0     0  ...     9        2910
20181      5260     2.0           0     0  ...     9        2910

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
20180              0      2012             0    98065  47.5168 -121.883
20181              0      2012             0    98065  47.5168 -121.883

       sqft_living15  sqft_lot15
20180           2910        5260
20181           2910        5260

[2 rows x 21 columns]
3323059027 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6630  3323059027 2014-05-28  326000.0         3       2.75         1720
6631  3323059027 2015-02-25  340000.0         3       2.75         1720

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6630     28000     1.0           0     0  ...     7        1720
6631     28000     1.0           0     0  ...     7        1720

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
6630              0      1958             0    98058  47.4375 -122.176
6631              0      1958             0    98058  47.4375 -122.176

      sqft_living15  sqft_lot15
6630           2000       41817
6631           2000       41817

[2 rows x 21 columns]
2726049071 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5592  2726049071 2014-12-11  510000.0         2        1.0          820
5593  2726049071 2015-04-08  489950.0         2        1.0          820

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5592      4206     1.0           0     0  ...     5         820
5593      4206     1.0           0     0  ...     5         820

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5592              0      1949             0    98125  47.7076 -122.284
5593              0      1949             0    98125  47.7076 -122.284

      sqft_living15  sqft_lot15
5592           1810        7200
5593           1810        7200

[2 rows x 21 columns]
4204400098 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5272  4204400098 2015-01-19  250000.0         5       1.75         2190
5273  4204400098 2015-04-21  385000.0         5       1.75         2190

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5272      8250     1.0           0     2  ...     7        1190
5273      8250     1.0           0     2  ...     7        1190

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5272           1000      1963             0    98055  47.4887 -122.223
5273           1000      1963             0    98055  47.4887 -122.223

      sqft_living15  sqft_lot15
5272           2570        8250
5273           2570        8250

[2 rows x 21 columns]
2568300045 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9720  2568300045 2014-06-25  305000.0         6        2.0         1900
9721  2568300045 2015-03-19  649950.0         6        2.0         1900

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9720      8240     1.0           0     0  ...     7        1200
9721      8240     1.0           0     0  ...     7        1200

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9720            700      1964             0    98125  47.7037 -122.296
9721            700      1964             0    98125  47.7037 -122.296

      sqft_living15  sqft_lot15
9720           1900        8240
9721           1900        8240

[2 rows x 21 columns]
8648900110 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
20053  8648900110 2014-05-05  555000.0         3        2.5         1940
20054  8648900110 2014-08-26  555000.0         3        2.5         1940

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
20053      3211     2.0           0     0  ...     8        1940
20054      3211     2.0           0     0  ...     8        1940

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
20053              0      2009             0    98027  47.5644 -122.093
20054              0      2009             0    98027  47.5644 -122.093

       sqft_living15  sqft_lot15
20053           1880        3078
20054           1880        3078

[2 rows x 21 columns]
5417600130 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
6719  5417600130 2014-10-10  244500.0         2        1.0          910
6720  5417600130 2015-05-12  301000.0         2        1.0          910

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
6719      9000     1.0           0     0  ...     5         910
6720      9000     1.0           0     0  ...     5         910

      sqft_basement  yr_built  yr_renovated  zipcode     lat    long  \
6719              0      1923             0    98065  47.526 -121.81
6720              0      1923             0    98065  47.526 -121.81

      sqft_living15  sqft_lot15
6719           1290        9000
6720           1290        9000

[2 rows x 21 columns]
1139600270 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11194  1139600270 2014-07-01  300000.0         3       2.75         2090
11195  1139600270 2015-03-24  310000.0         3       2.75         2090

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11194      9620     1.0           0     0  ...     8        1340
11195      9620     1.0           0     0  ...     8        1340

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11194            750      1987             0    98023  47.2741 -122.337
11195            750      1987             0    98023  47.2741 -122.337

       sqft_living15  sqft_lot15
11194           2150        9660
11195           2150        9660

[2 rows x 21 columns]
3528000040 2
               id       date      price  bedrooms  bathrooms  sqft_living  \
14307  3528000040 2014-10-01  1690000.0         3       3.25         5290
14308  3528000040 2015-03-26  1800000.0         3       3.25         5290

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14307    224442     2.0           0     0  ...    11        4540
14308    224442     2.0           0     0  ...    11        4540

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14307            750      1988             0    98053  47.6671 -122.051
14308            750      1988             0    98053  47.6671 -122.051

       sqft_living15  sqft_lot15
14307           3750       84936
14308           3750       84936

[2 rows x 21 columns]
2724049222 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
20612  2724049222 2014-08-02  163800.0         2        2.5         1000
20613  2724049222 2014-12-01  220000.0         2        2.5         1000

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
20612      1092     2.0           0     0  ...     7         990
20613      1092     2.0           0     0  ...     7         990

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
20612             10      2004             0    98118  47.5419 -122.271
20613             10      2004             0    98118  47.5419 -122.271

       sqft_living15  sqft_lot15
20612           1330        1466
20613           1330        1466

[2 rows x 21 columns]
7230400400 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12030  7230400400 2014-09-26  240000.0         3        2.0         1220
12031  7230400400 2015-03-26  415500.0         3        2.0         1220

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12030     17652     1.0           0     0  ...     7        1220
12031     17652     1.0           0     0  ...     7        1220

       sqft_basement  yr_built  yr_renovated  zipcode      lat   long  \
12030              0      1980             0    98059  47.4712 -122.1
12031              0      1980             0    98059  47.4712 -122.1

       sqft_living15  sqft_lot15
12030           1990       17652
12031           1990       17652

[2 rows x 21 columns]
9407110710 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
2493  9407110710 2014-11-07  195000.0         3       1.75         1510
2494  9407110710 2015-02-26  322000.0         3       1.75         1510

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2493      8400     1.0           0     0  ...     7         980
2494      8400     1.0           0     0  ...     7         980

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2493            530      1979             0    98045  47.4476 -121.771
2494            530      1979             0    98045  47.4476 -121.771

      sqft_living15  sqft_lot15
2493           1500       10125
2494           1500       10125

[2 rows x 21 columns]
2473380920 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17280  2473380920 2014-08-13  206325.0         5        2.5         1720
17281  2473380920 2015-02-27  339000.0         5        2.5         1720

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17280     10202     1.5           0     0  ...     7        1720
17281     10202     1.5           0     0  ...     7        1720

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17280              0      1970             0    98058  47.4572 -122.167
17281              0      1970             0    98058  47.4572 -122.167

       sqft_living15  sqft_lot15
17280           1720        8478
17281           1720        8478

[2 rows x 21 columns]
643300040 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
19552  643300040 2014-11-04  481000.0         4       1.75         1920
19553  643300040 2015-03-13  719521.0         4       1.75         1920

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
19552      9500     1.0           0     0  ...     7        1470
19553      9500     1.0           0     0  ...     7        1470

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
19552            450      1966             0    98006  47.5683 -122.177
19553            450      1966             0    98006  47.5683 -122.177

       sqft_living15  sqft_lot15
19552           1820       10091
19553           1820       10091

[2 rows x 21 columns]
1446403850 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
7245  1446403850 2014-09-16  118125.0         2        1.0          790
7246  1446403850 2015-01-14  212000.0         2        1.0          790

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
7245      7153     1.0           0     0  ...     6         790
7246      7153     1.0           0     0  ...     6         790

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
7245              0      1944             0    98168  47.4869 -122.324
7246              0      1944             0    98168  47.4869 -122.324

      sqft_living15  sqft_lot15
7245            810        7128
7246            810        7128

[2 rows x 21 columns]
7853420110 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
21580  7853420110 2014-10-03  594866.0         3        3.0         2780
21581  7853420110 2015-05-04  625000.0         3        3.0         2780

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
21580      6000     2.0           0     0  ...     9        2780
21581      6000     2.0           0     0  ...     9        2780

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
21580              0      2013             0    98065  47.5184 -121.886
21581              0      2013             0    98065  47.5184 -121.886

       sqft_living15  sqft_lot15
21580           2850        6000
21581           2850        6000

[2 rows x 21 columns]
8161020060 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11202  8161020060 2014-06-20  443500.0         4        2.5         2040
11203  8161020060 2015-04-14  471000.0         4        2.5         2040

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11202     21781     2.0           0     0  ...     8        2040
11203     21781     2.0           0     0  ...     8        2040

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11202              0      1994             0    98014  47.6458 -121.904
11203              0      1994             0    98014  47.6458 -121.904

       sqft_living15  sqft_lot15
11202           2410       21781
11203           2410       21781

[2 rows x 21 columns]
8129700644 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9277  8129700644 2014-07-03  715000.0         3        4.0         2080
9278  8129700644 2015-04-24  780000.0         3        4.0         2080

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9277      2250     3.0           0     4  ...     8        2080
9278      2250     3.0           0     4  ...     8        2080

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9277              0      1997             0    98103  47.6598 -122.355
9278              0      1997             0    98103  47.6598 -122.355

      sqft_living15  sqft_lot15
9277           2080        2250
9278           2080        2250

[2 rows x 21 columns]
1217000340 2

               id       date     price  bedrooms  bathrooms  sqft_living  \
12434  1217000340 2014-06-06  185000.0         3        1.0         1840
12435  1217000340 2015-02-19  340000.0         3        1.0         1840

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12434      8100     1.0           0     0  ...     7         920
12435      8100     1.0           0     0  ...     7         920

       sqft_basement  yr_built  yr_renovated  zipcode     lat    long  \
12434            920      1953             0    98166  47.455 -122.35
12435            920      1953             0    98166  47.455 -122.35

       sqft_living15  sqft_lot15
12434           1250        8100
12435           1250        8100

[2 rows x 21 columns]
2206700215 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
8011  2206700215 2014-08-22  375000.0         4        2.0         2070
8012  2206700215 2015-04-22  550000.0         4        2.0         2070

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
8011      9822     1.0           0     0  ...     7        2070
8012      9822     1.0           0     0  ...     7        2070

      sqft_basement  yr_built  yr_renovated  zipcode     lat    long  \
8011              0      1955             0    98006  47.566 -122.14
8012              0      1955             0    98006  47.566 -122.14

      sqft_living15  sqft_lot15
8011           1300        9572
8012           1300        9572

[2 rows x 21 columns]
1545800290 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
5972  1545800290 2014-09-05  215000.0         4        2.5         1700
5973  1545800290 2015-04-08  315000.0         4        2.5         1700

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
5972      6675     2.0           0     0  ...     7        1700
5973      6675     2.0           0     0  ...     7        1700

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5972              0      1997             0    98038  47.3638 -122.053
5973              0      1997             0    98038  47.3638 -122.053

      sqft_living15  sqft_lot15
5972           1570        7540
5973           1570        7540

[2 rows x 21 columns]
324000530 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
14855  324000530 2014-07-08  201500.0         3        1.0         1320
14856  324000530 2015-03-23  459000.0         3        1.0         1320

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14855      5000     1.5           0     0  ...     7        1320
14856      5000     1.5           0     0  ...     7        1320

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14855              0      1912             0    98116  47.5711 -122.386
14856              0      1912             0    98116  47.5711 -122.386

       sqft_living15  sqft_lot15
14855           1320        4179
14856           1320        4179

[2 rows x 21 columns]
7200179 2
            id       date     price  bedrooms  bathrooms  sqft_living  \
16814  7200179 2014-10-16  150000.0         2        1.0          840
16815  7200179 2015-04-24  175000.0         2        1.0          840

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
16814     12750     1.0           0     0  ...     6         840
16815     12750     1.0           0     0  ...     6         840

       sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
16814              0      1925             0    98055  47.484 -122.211
16815              0      1925             0    98055  47.484 -122.211

       sqft_living15  sqft_lot15
16814           1480        6969
16815           1480        6969

[2 rows x 21 columns]
6143000020 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
17133  6143000020 2014-10-27  175000.0         3       1.75         1910
17134  6143000020 2015-04-06  299000.0         3       1.75         1910

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
17133     17003     1.5           0     0  ...     8        1910
17134     17003     1.5           0     0  ...     8        1910

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
17133              0      1963             0    98001  47.3095 -122.283
17134              0      1963             0    98001  47.3095 -122.283

       sqft_living15  sqft_lot15
17133           1820       14806
17134           1820       14806

[2 rows x 21 columns]
3935900232 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12388  3935900232 2014-09-29  207000.0         3        1.0          920
12389  3935900232 2015-01-12  237000.0         3        1.0          920

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12388      5546     1.0           0     0  ...     6         920
12389      5546     1.0           0     0  ...     6         920

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12388              0      1928             0    98125  47.7114 -122.284
12389              0      1928             0    98125  47.7114 -122.284

       sqft_living15  sqft_lot15
12388           1300        5546
12389           1300        5546

[2 rows x 21 columns]
1219000473 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9876  1219000473 2014-06-26  164950.0         3       1.75         1570
9877  1219000473 2015-03-23  371000.0         3       1.75         1570

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9876     15330     1.0           0     0  ...     7        1080
9877     15330     1.0           0     0  ...     7        1080

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
9876            490      1956             0    98166  47.4608 -122.34
9877            490      1956             0    98166  47.4608 -122.34

      sqft_living15  sqft_lot15
9876           1250       13330
9877           1250       13330

[2 rows x 21 columns]
2561340020 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
16000  2561340020 2014-08-04  325000.0         3       1.75         1780
16001  2561340020 2015-02-17  500000.0         3       1.75         1780

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
16000     11096     1.0           0     0  ...     7        1210
16001     11096     1.0           0     0  ...     7        1210

       sqft_basement  yr_built  yr_renovated  zipcode     lat     long  \
16000            570      1979             0    98074  47.617 -122.051
16001            570      1979             0    98074  47.617 -122.051

       sqft_living15  sqft_lot15
16000           1780       10640
16001           1780       10640

[2 rows x 21 columns]
1036400200 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12065  1036400200 2015-02-13  661000.0         4       1.75         1670
12066  1036400200 2015-04-29  697000.0         4       1.75         1670

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12065     13125     1.0           0     0  ...     8        1670
12066     13125     1.0           0     0  ...     8        1670

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12065              0      1973             0    98052  47.6315 -122.101
12066              0      1973             0    98052  47.6315 -122.101

       sqft_living15  sqft_lot15
12065           2360       12500
12066           2360       12500

[2 rows x 21 columns]
4345000510 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
2126  4345000510 2014-10-15  180500.0         3        2.5         1800
2127  4345000510 2015-04-28  325000.0         3        2.5         1800

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
2126      8518     2.0           0     0  ...     7        1800
2127      8518     2.0           0     0  ...     7        1800

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2126              0      1996             0    98030  47.3643 -122.185
2127              0      1996             0    98030  47.3643 -122.185

      sqft_living15  sqft_lot15
2126           1770        7570
2127           1770        7570

[2 rows x 21 columns]
5430300171 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
12332  5430300171 2014-07-03  430000.0         3        1.5         1810
12333  5430300171 2015-01-29  615500.0         3        1.5         1810

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
12332      5080     1.0           0     0  ...     7        1030
12333      5080     1.0           0     0  ...     7        1030

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
12332            780      1958             0    98115  47.6819 -122.287
12333            780      1958             0    98115  47.6819 -122.287

       sqft_living15  sqft_lot15
12332           1780        7620
12333           1780        7620

[2 rows x 21 columns]
1922059278 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
9120  1922059278 2014-10-14  145000.0         3        1.0         1010
9121  1922059278 2015-03-05  255000.0         3        1.0         1010

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
9120     11880     1.0           0     0  ...     7        1010
9121     11880     1.0           0     0  ...     7        1010

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
9120              0      1960             0    98030  47.3762 -122.219
9121              0      1960             0    98030  47.3762 -122.219

      sqft_living15  sqft_lot15
9120           1150        9435
9121           1150        9435

[2 rows x 21 columns]
2892700041 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
11775  2892700041 2014-07-14  168000.0         3        1.5         1370
11776  2892700041 2015-01-28  238000.0         3        1.5         1370

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
11775      7439     1.0           0     0  ...     6        1370
11776      7439     1.0           0     0  ...     6        1370

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
11775              0      1963             0    98055  47.4499 -122.189
11776              0      1963             0    98055  47.4499 -122.189

       sqft_living15  sqft_lot15
11775           2350        3370
11776           2350        3370

[2 rows x 21 columns]
1901600090 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
19209  1901600090 2014-06-26  359000.0         5       1.75         1940
19210  1901600090 2015-04-26  390000.0         5       1.75         1940

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
19209      6654     1.5           0     0  ...     7        1940
19210      6654     1.5           0     0  ...     7        1940

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
19209              0      1953             0    98166  47.4663 -122.359
19210              0      1953             0    98166  47.4663 -122.359

       sqft_living15  sqft_lot15
19209           2300        9500
19210           2300        9500

[2 rows x 21 columns]
7504021310 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
15001  7504021310 2014-05-06  525000.0         3        2.5         2970
15002  7504021310 2014-12-04  745000.0         3        2.5         2970

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
15001     11985     1.0           0     0  ...     9        1770
15002     11985     1.0           0     0  ...     9        1770

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
15001           1200      1995             0    98074  47.6359 -122.052
15002           1200      1995             0    98074  47.6359 -122.052

       sqft_living15  sqft_lot15
15001           2990       12049
15002           2990       12049

[2 rows x 21 columns]
6308000010 2
               id       date     price  bedrooms  bathrooms  sqft_living  \
14982  6308000010 2014-12-08  585000.0         3        2.5         2290
14983  6308000010 2015-04-23  585000.0         3        2.5         2290

       sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
14982      5089     2.0           0     0  ...     9        2290
14983      5089     2.0           0     0  ...     9        2290

       sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
14982              0      2001             0    98006  47.5443 -122.172
14983              0      2001             0    98006  47.5443 -122.172

       sqft_living15  sqft_lot15
14982           2290        7984
14983           2290        7984

[2 rows x 21 columns]
4364700600 2
              id       date     price  bedrooms  bathrooms  sqft_living  \
3878  4364700600 2014-12-16  216000.0         3        1.0         1010
3879  4364700600 2015-03-30  390000.0         3        1.0         1010

      sqft_lot  floors  waterfront  view  ... grade  sqft_above  \
3878      7920     1.0           0     0  ...     6        1010
3879      7920     1.0           0     0  ...     6        1010

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
3878              0      1925             0    98126  47.5249 -122.37
3879              0      1925             0    98126  47.5249 -122.37

      sqft_living15  sqft_lot15
3878           1520        7560
3879           1520        7560

[2 rows x 21 columns]

In [6]:
# Removendo as casas com IDs duplicados, mantendo apenas o registro com a data mais recente

df_houses = dfhouses.sort_values(by=['id', 'date'])
# df_order.head(10)
df_houses.drop_duplicates(subset=['id'], keep='last', inplace=True)

# testando o resultado com um id que eu sei que era duplicado
df_houses.query('id == 795000620')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
17604,795000620,2015-03-11,157000.0,3,1.0,1080,6250,1.0,0,0,...,5,1080,0,1950,0,98168,47.5045,-122.33,1070,6250

In [7]:
# Estabelecendo nivel para as casas de acordo com o preço

df_houses['nivel'] = df_houses['price'].apply(
lambda preco:
    'nivel_0' if 0 <= preco < 321950 else(
        'nivel_1' if 321950 <= preco < 450000 else(
            'nivel_2' if 450000 <= preco < 645000 else 'nivel_3'
        )
    )
)

In [8]:
df_houses['nivel'].value_counts()

nivel_2    5491
nivel_3    5396
nivel_0    5296
nivel_1    5253
Name: nivel, dtype: int64

In [10]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.1.0-py3-none-any.whl (112 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0

In [123]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

In [12]:
# Inicializando Nominatim API

geolocator = Nominatim( user_agent='geoapiExercicises' )

In [24]:
# Testando com uma geolocalização aleatoria

response = geolocator.reverse('47.5045,-122.33')
response.raw

{'place_id': 223286090,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 652545195,
 'lat': '47.5045104',
 'lon': '-122.33015260018033',
 'display_name': '11017, 3rd Avenue South, Beverly Park, White Center, Seattle, King County, Washington, 98168, United States',
 'address': {'house_number': '11017',
  'road': '3rd Avenue South',
  'neighbourhood': 'Beverly Park',
  'suburb': 'White Center',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98168',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.504455', '47.5045659', '-122.3302286', '-122.3300766']}

Adicione as seguintes informações ao imóvel:

 - O nome da Rua
 - O número do imóvel
 - O nome do Bairro
 - O nome da Cidade
 - O nome do Estado

In [21]:
#  Criando novas colunas vazias no dataframe

df_houses['road'] = pd.np.nan
df_houses['house_number'] = pd.np.nan
df_houses['neighbourhood'] = pd.np.nan
df_houses['city'] = pd.np.nan
df_houses['state'] = pd.np.nan

<ipython-input-21-3840b47f0ffe>:3: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df_houses['road'] = pd.np.nan
<ipython-input-21-3840b47f0ffe>:4: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df_houses['house_number'] = pd.np.nan
<ipython-input-21-3840b47f0ffe>:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df_houses['neighbourhood'] = pd.np.nan
<ipython-input-21-3840b47f0ffe>:6: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df_houses['city'] = pd.np.nan
<ipython-input-21-3840b47f0ffe>:7: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df_houses['state'] = pd.np.nan

In [93]:
df_houses.tail(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,lat,long,sqft_living15,sqft_lot15,nivel,road,house_number,neighbourhood,city,state
19678,9834201375,2015-02-06,425000.0,3,2.25,1420,1230,2.0,0,0,...,47.5703,-122.288,1400,1230,nivel_1,NaN,NaN,NaN,NaN,NaN
6391,9834201470,2014-12-18,303000.0,2,1.50,1000,1075,2.0,0,0,...,47.5708,-122.288,1000,1083,nivel_0,NaN,NaN,NaN,NaN,NaN
11329,9835800320,2014-08-28,300000.0,4,1.75,2080,8750,1.0,0,0,...,47.3749,-122.291,1790,8750,nivel_0,NaN,NaN,NaN,NaN,NaN
4421,9835800750,2014-12-03,247000.0,3,2.25,1640,7630,1.0,0,0,...,47.3739,-122.290,1930,7630,nivel_0,NaN,NaN,NaN,NaN,NaN
5413,9835800840,2015-02-04,215000.0,4,2.00,1470,7000,1.0,0,0,...,47.3742,-122.289,1640,7000,nivel_0,NaN,NaN,NaN,NaN,NaN
11262,9835801000,2014-06-25,245700.0,3,2.25,1640,8400,1.0,0,0,...,47.3733,-122.289,1600,8120,nivel_0,NaN,NaN,NaN,NaN,NaN
10393,9839300125,2015-01-07,575000.0,4,2.00,1810,4400,2.0,0,0,...,47.6132,-122.292,1470,4400,nivel_2,NaN,NaN,NaN,NaN,NaN
16966,9839300285,2015-04-12,720000.0,3,2.50,2100,2200,2.0,0,0,...,47.6140,-122.294,1750,4400,nivel_3,NaN,NaN,NaN,NaN,NaN
7147,9839300545,2014-07-14,605000.0,2,2.00,1270,5500,1.5,0,0,...,47.6121,-122.294,1870,4400,nivel_2,NaN,NaN,NaN,NaN,NaN
14249,9839300775,2014-07-10,655000.0,4,2.25,2170,4080,2.0,0,0,...,47.6124,-122.293,1890,4400,nivel_3,NaN,NaN,NaN,NaN,NaN
1716,9839300875,2014-05-14,800000.0,3,1.00,1700,4400,1.5,0,0,...,47.6120,-122.292,1610,4180,nivel_3,NaN,NaN,NaN,NaN,NaN
4679,9839301055,2014-06-26,670000.0,3,1.50,1490,4400,1.5,0,0,...,47.6113,-122.292,1560,4400,nivel_3,NaN,NaN,NaN,NaN,NaN
4821,9839301060,2015-04-06,650500.0,3,1.75,1740,4400,1.5,0,0,...,47.6115,-122.292,1740,4400,nivel_3,NaN,NaN,NaN,NaN,NaN
13028,9839301165,2014-10-01,998500.0,2,1.00,1570,4400,1.5,0,0,...,47.6112,-122.293,1850,4400,nivel_3,NaN,NaN,NaN,NaN,NaN
11654,9842300036,2014-10-08,415885.0,3,1.00,1310,4163,1.0,0,0,...,47.5301,-122.381,1120,4166,nivel_1,NaN,NaN,NaN,NaN,NaN
16737,9842300095,2014-07-25,365000.0,5,2.00,1600,4168,1.5,0,0,...,47.5297,-122.381,1190,4168,nivel_1,NaN,NaN,NaN,NaN,NaN
3260,9842300485,2015-03-11,380000.0,2,1.00,1040,7372,1.0,0,0,...,47.5285,-122.378,1930,5150,nivel_1,NaN,NaN,NaN,NaN,NaN
7621,9842300540,2014-06-24,339000.0,3,1.00,1100,4128,1.0,0,0,...,47.5296,-122.379,1510,4538,nivel_1,NaN,NaN,NaN,NaN,NaN
20979,9895000040,2014-07-03,399900.0,2,1.75,1410,1005,1.5,0,0,...,47.5446,-122.018,1440,1188,nivel_1,NaN,NaN,NaN,NaN,NaN
15951,9900000190,2014-10-30,268950.0,3,1.00,1320,8100,1.0,0,0,...,47.4697,-122.351,1000,8100,nivel_0,NaN,NaN,NaN,NaN,NaN

In [83]:
# verificando a integridade das colunas lat e long
import numpy as np

print(df_houses['lat'].isnull().sum())
print(df_houses['long'].isnull().sum())

0
0

In [124]:
for i in range( len(df_houses) ):
    
    # Implementando cache caso tenha que rodar de novo o laço for usando a coluna "house_number"
    if pd.isna(df_houses.iloc[i, 23]) == False:
        continue
    
    # Logando o percentual de varredura do dataframe    
    perc = (i/len(df_houses))*100
    if perc >= 1 and round(perc,2) % 2 == 0:
        print(f'{perc:.3f}%')
    
    # Montando a string de busca com os dados de 'lat' e 'long'
    query = str(df_houses.iloc[i, 17]) + ',' + str(df_houses.iloc[i, 18])
    
    # API request
    try:
        response = geolocator.reverse(query)
    except GeocoderTimedOut:
        continue
    
    # Popula o dataframe com os dados da API
    if 'road' in response.raw['address']:
        df_houses.iloc[i, 22] = response.raw['address']['road']
    
    if 'house_number' in response.raw['address']:
        df_houses.iloc[i, 23] = response.raw['address']['house_number']
        
    if 'neighbourhood' in response.raw['address']:
        df_houses.iloc[i, 24] = response.raw['address']['neighbourhood']
        
    if 'city' in response.raw['address']:
        df_houses.iloc[i, 25] = response.raw['address']['city']
        
    if 'state' in response.raw['address']:
        df_houses.iloc[i, 26] = response.raw['address']['state']

9.997%
10.002%
18.002%
25.998%
26.003%
28.000%
28.004%
29.996%
30.001%
31.998%
32.002%
33.999%
34.004%
35.996%
36.000%
36.005%
37.997%
38.001%
39.998%
40.003%
41.999%
42.004%
43.996%
44.001%
45.997%
46.002%
47.999%
48.003%
49.995%
50.000%
50.005%
51.997%
52.001%
53.998%
54.003%
55.999%
56.004%
57.996%
58.001%
59.997%
60.002%
61.999%
62.003%
63.995%
64.000%
64.004%
65.996%
66.001%
67.998%
68.002%
69.999%
70.004%
71.996%
72.000%
73.997%
74.002%
75.998%
76.003%
78.000%
78.004%
79.996%
80.001%
81.998%
82.002%
83.999%
84.004%
85.996%
86.000%
86.005%
87.997%
88.001%
89.998%
90.003%
91.999%
92.004%
93.996%
94.001%
95.997%
96.002%
98.003%
99.995%

In [126]:
df_houses.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,lat,long,sqft_living15,sqft_lot15,nivel,road,house_number,neighbourhood,city,state
16737,9842300095,2014-07-25,365000.0,5,2.00,1600,4168,1.5,0,0,...,47.5297,-122.381,1190,4168,nivel_1,Southwest Southern Street,3739,High Point,Seattle,Washington
3260,9842300485,2015-03-11,380000.0,2,1.00,1040,7372,1.0,0,0,...,47.5285,-122.378,1930,5150,nivel_1,Southwest Thistle Street,3526,NaN,Seattle,Washington
7621,9842300540,2014-06-24,339000.0,3,1.00,1100,4128,1.0,0,0,...,47.5296,-122.379,1510,4538,nivel_1,37th Avenue Southwest,8202,High Point,Seattle,Washington
20979,9895000040,2014-07-03,399900.0,2,1.75,1410,1005,1.5,0,0,...,47.5446,-122.018,1440,1188,nivel_1,Northeast High Street,930,NaN,NaN,Washington
15951,9900000190,2014-10-30,268950.0,3,1.00,1320,8100,1.0,0,0,...,47.4697,-122.351,1000,8100,nivel_0,Southwest 149th Street,1220,Seahurst,NaN,Washington

In [127]:
# salvando num arquivo pra não precisar fazer de novo
df_houses.to_csv('dados/processados/kc_house_data_comp.csv')